{{ if .Site.Params.showSearchUI -}}
<link href="{{ relURL "pagefind/pagefind-ui.css" }}" rel="stylesheet" />
{{- end }}
{{- $assets := slice
      "css/normalize.css"
      "sine-die/css/base.css"
      "sine-die/css/color-palette.css"
      "sine-die/css/style.css"
      "sine-die/css/glossary/style.css"
      "sine-die/css/menubar/style.css"
      "sine-die/css/theme-colors.scss"
      "sine-die/css/assets.gtpl.css"
      "sine-die/css/menubar/assets.gtpl.css"
-}}
{{ range $assets }}
  {{ partial "helpers/css-link.html" (dict "asset" .) }}
{{- end }}
{{ if .Site.Params.showSearchUI -}}
  {{ partial "helpers/css-link.html" (dict "asset" "sine-die/css/pagefind-overrides.gtpl.css") }}
{{- end }}
{{ partial "helpers/css-link.html" (dict "asset" "css/overrides.css") }}
