{{- /*
Renders the given html entity attributes.

Accepts only named parameters.

@param {dict} attributes A Map of the attributes to render
@param {slice} [exclude] A list of attributes keys to exclude from the rendering

@example
  This code:
    ```go-html-template
    <!-- The attributes must be a dict -->
    {{ $attributes := dict }}
    <!-- An attribute value can be an array of strings (elements will be delimited with a space) -->
    {{ $attributes := merge $attributes (dict "class" (slice "try-me" "centered")) }}
    <!-- An attribute value can be a boolean (values with a boolean false are not rendered) -->
    {{ $attributes := merge $attributes (dict "inert" true "hidden" false) }}
    <!-- For boolean mandatory attributes you can use "true" and "false" as string -->
    {{ $attributes := merge $attributes (dict "draggable" "false") }}
    <!-- Let's add some attributes that will be excluded from rendering using 'exclude' -->
    <!-- (useful, for example, when we want to pass all attributes to a partial template) -->
    {{ $attributes := merge $attributes (dict "src" "images/logo.png" "alt" "The Logo" "caption" "Using [CommonMark](https://commonmark.org/)") }}
    <!-- Finally, let's use render-attributes in a template, and exclude attributes used elsewhere -->
    {{ $excludeAttributes := (slice "src" "alt" "caption") }}
    <figure {{ partial "helpers/render-attributes.html" (dict "attributes" $attributes "exclude" $excludeAttributes) }}>
      <img
        {{- with resources.Get $attributes.src }} src="{{ .RelPermalink }}"{{ end }}
        {{- with $attributes.alt }} alt="{{ . }}"{{ end -}}
      />
      {{ with $attributes.caption -}}
        <figcaption>{{ . | markdownify }}</figcaption>
      {{- end }}
    </figure>
    ```
  Will render:
    ```html
    <figure class="try-me centered" draggable="false" inert>
      <img src="images/logo.png" alt="The Logo"/>
      <figcaption>Using <a href="https://commonmark.org/">CommonMark</a></figcaption>
    </figure>
    ```
*/ -}}
{{ $result := slice }}
{{ with $attributes := .attributes }}
  {{ if reflect.IsMap $attributes }}
    {{ $excludeAttributes := .exclude | default dict }}
    {{ range $key, $value := $attributes }}
      {{ if and (not (in $excludeAttributes $key)) (not (eq $value false)) }}
        {{ if eq $value true }}
          {{ $result = $result | append (printf "%s" $key | safeHTMLAttr) }}
        {{ else }}
          {{ if reflect.IsSlice $value }}
            {{ $value = delimit $value " " }}
          {{ end }}
          {{ $result =  $result | append (printf "%s=%q" $key ($value | htmlEscape) | safeHTMLAttr) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{- end }}
{{ end }}
{{- return (delimit $result " " | safeHTMLAttr) -}}
