{{- /*
  Validates the fragment portion of a link destination in a page.

  Return true if the fragment is found and false otherwise.

  @context {page} page A reference to the page containing the link fragment
  @context {string} fragment URI fragment (without the #) linking to an header ID in the page
  @context {string} errorLevel The error level for invalid page fragments (one of: ignore, warning (default), error)
  @context {string} caller The file initiating the call (default to 'page.File.Filename' or 'templates.Current.Parent.Name')

  @returns {bool}
*/}}

{{- /* Initialize. */}}
{{- $page := .page }}
{{- $fragment := .fragment }}
{{- $errorLevel := .errorLevel | default "warning" }}
{{- $caller := .caller }}

{{- /* Validate. */}}
{{- $fragmentFound := false }}
{{- $thisTemplate := templates.Current.Name }}
{{- $error := "" }}
{{- with $fragment }}
  {{- if not $caller }}
    {{- $caller = templates.Current.Parent.Name }}
    {{- if eq page.Kind "page" }}
      {{ with page.File }}{{ $caller = .Path }}{{ end }}
    {{- end }}
  {{- end }}
  {{- $targetPath := "" }}
  {{- with $page.File }}
    {{- $targetPath = .Path }}
  {{- else }}
    {{- $targetPath = .Path }}
  {{- end }}
  {{- if $page.Fragments.Identifiers.Contains . }}
    {{- $fragmentFound = true }}
    {{- if gt ($page.Fragments.Identifiers.Count .) 1 }}
      {{- $error = printf "Detected duplicate heading IDs %q in \"%s\"" . $targetPath }}
    {{- end }}
  {{- else }}
    {{- $error = printf "Unable to find heading ID %q in \"%s\"" . $targetPath }}
  {{- end }}
{{- end }}
{{- if $error }}
  {{- $error = printf "%s. Caller: \"%s\". Template: \"%s\"" $error $caller $thisTemplate }}
  {{- /* Throw warning or error. */}}
  {{- if eq $errorLevel "warning" }}
    {{- warnf $error }}
  {{- else if eq $errorLevel "error" }}
    {{- errorf $error }}
  {{- end }}
{{- end }}
{{- return $fragmentFound -}}
