{{ if .Site.Params.showSearchUI -}}
<link href="{{ relURL "pagefind/pagefind-ui.css" }}" rel="stylesheet" type="text/css" />
{{- end }}
{{- $css_files := slice "css/normalize.css"  "css/base.css" "css/colors.css" "css/style.css" }}
{{ range $css_files }}
  {{- with resources.Get . }}
    {{ partial "head/css-link.html" . }}
  {{- end }}
{{- end }}
{{- with resources.Get "css/assets.gtpl.css" | resources.ExecuteAsTemplate "css/assets.css" . }}
  {{ partial "head/css-link.html" . }}
{{- end -}}
{{ if .Site.Params.showSearchUI -}}
  {{ with resources.Get "css/pagefind-overrides.css" -}}
    {{ partial "head/css-link.html" . }}
  {{- end }}
{{- end }}
{{ with resources.Get "css/overrides.css" -}}
  {{ partial "head/css-link.html" . }}
{{- end }}
{{- with resources.Get "css/override_assets.gtpl.css" | resources.ExecuteAsTemplate "css/override_assets.css" . }}
  {{ partial "head/css-link.html" . }}
{{- end -}}
