<aside class="sidebar">
  <label for="sidebar-switch"></label>
  <input
    id="sidebar-switch"
    data-symbol="sidebar-switch"
    type="checkbox"
    title="sidebar toggle"
    {{ with .Params.CollapsedSidebar }}checked{{ end }}
  />
  {{- partial "toc.html" . }}
  {{ with .Params.categories }}
  <dl class="categories">
    <dt><a href="{{ relURL "categories" }}"><span class="material-symbols-outlined">topic</span>Categories</a></dt>
    {{ range . }}
    {{ $term := . }}
    {{ $taxonomy := index site.Taxonomies (lower .) -}}
    {{ with site.GetPage (printf "/categories/%s" $term) }}
    <dd>
      <a href="{{ .Permalink }}">
      {{ .Title }}
      </a>
    </dd>
    {{ end }}
    {{ end }}
  </dl>
  {{ end }}
  {{ with .Params.tags }}
  <dl class="tags">
    <dt><a href="{{ relURL "tags" }}"><span class="material-symbols-outlined">label</span>Tags</a></dt>
    {{ range . }}
    {{ $term := . }}
    {{ $taxonomy := index site.Taxonomies (lower .) -}}
    {{ with site.GetPage (printf "/tags/%s" $term) }}
    <dd>
      <a href="{{ .Permalink }}">
      {{ .Title }}
      </a>
    </dd>
    {{ end }}
    {{ end }}
  </dl>
  {{ end }}
</aside>
