/* menubar */

[data-function="mobile-menu"] {
  aspect-ratio: 1 / 1;
  border: none;
  height: 1.8em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: .2em;
  top: .2em;
}

[data-function="mobile-menu"]::before {
  font-size: 1.2em;
}

[data-function="mobile-menu"][aria-expanded="false"]::before {
  content: "menu";
}

[data-function="mobile-menu"][aria-expanded="true"]::before {
  content: "close";
}

[role="menubar"] li {
  margin: 0;
  padding: 0;
}

[role="menu"] {
  padding-left: 1em;
}

[role="menubar"] button[aria-expanded] {
  aspect-ratio: 1/1;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  height: 2em;
  margin: 0;
  padding: 0;
}

[role="menubar"] button[aria-expanded]::before {
  aspect-ratio: 1/1;
  font-size: 1.5em;
  line-height: 1;
}

[role="menubar"] button[aria-expanded]:enabled:hover::before {
  color: var(--color-on-tertiary);
  font-size: 2em;
}

[role="menubar"] button[aria-expanded="false"]::before {
  content: "arrow_drop_down";
}

[role="menubar"] button[aria-expanded="true"]::before {
  content: "arrow_drop_up";
}

[role="menubar"] li:has(> [aria-haspopup]) {
  display: grid;
  column-gap: 1em;
}

[role="menubar"] li:has(> [aria-haspopup]) > a {
  grid-area: link;
}

[role="menubar"] li:has(> [aria-haspopup]) > button {
  grid-area: button;
}

[role="menubar"] li:has(> [aria-haspopup]) > ul {
  grid-area: submenu;
}

[role="menubar"] li:has(> [aria-haspopup][aria-expanded="false"]) {
  grid-template:
      "link button" auto
      / 1fr auto;
}

[role="menubar"] li:has(> [aria-haspopup][aria-expanded="true"]) {
  grid-template:
      "link    button" auto
      "submenu submenu" auto
      / 1fr auto;
}

[role="menubar"] a {
  color: var(--color-on-primary);
  white-space: nowrap;
  min-height: 2.5em;
  width: 100%;
  margin: 0 .5em;
}

nav.primary [role="menubar"] a:hover {
  color: var(--color-on-tertiary-container);
}

nav.primary [role="menubar"] > li {
  position: relative;
  margin-left: 1rem;
  border: none;
  box-sizing: border-box;
}

nav.primary [role="menubar"] > li > a {
  height: 100%;
  vertical-align: middle;
  align-items: center;
  padding: .2em;
}

nav.primary [role="menubar"] ul {
  background-color: var(--color-surface-container);
}

nav.primary [role="menubar"] li {
  border-width: 0;
  min-width: fit-content;
  width: auto;
}

nav.primary [role="menubar"] > li:nth-last-child(-n + 4) > ul {
  right: 0;
}

nav.primary [role="menubar"] > li > [role="menu"] {
  margin-top: .2em;
  border: 0.1rem solid var(--color-outline-variant);
  top: 100%;
}

nav.primary [role="menu"] li {
  min-height: min-content;
  min-width: max-content;
}

nav.primary [role="menubar"] a[aria-current="page"] {
  color: var(--color-on-secondary-container);
}

nav.primary [role="menubar"] [role="menu"][aria-hidden="false"] {
  position: absolute;
}

nav.primary [role="menubar"] [role="menu"][aria-hidden="false"] ul {
  position: relative;
}

nav.primary [role="menubar"] [role="menu"][aria-hidden="true"] {
  display: none;
}

nav.primary [role="menubar"] [aria-haspopup] {
  border: none;
  content: "";
  display: inline-block;
  min-width: 2em;
  height: auto;
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  margin: .25em;
}

nav.primary [role="menubar"] [aria-haspopup]:hover {
  background-color: var(--color-tertiary);
  color: var(--color-on-tertiary);
}

.brand a:focus-visible,
nav.primary [role="menubar"] a:focus-visible,
nav.primary [role="menubar"] li:has(> [aria-haspopup]:focus-visible) {
  outline: .1rem solid var(--color-on-primary);
}


/* Small tablet devices and smaller */

@media only screen and (width <= 1024px) {
  /* Show menu and theme switch only on mobile-menu button click */
  [data-function="switch-color-scheme"]:has(~ [data-function="mobile-menu"][aria-expanded="false"]),
  nav.primary [role="menubar"]:has(~ [data-function="mobile-menu"][aria-expanded="false"]) {
    display: none;
  }

  nav.primary {
    position: relative;
  }

  nav.primary [data-function="mobile-menu"] {
    position: absolute;
    right: .1em;
    top: .1em;
    font-size: 2em;
    aspect-ratio: 1 / 1;
    border: none;
  }

  nav.primary [role="menubar"] {
    padding: 0;
    margin: 0;
    background-color: var(--color-surface-bright);
    display: grid;
    grid-template-rows: minmax(auto, 1fr);;
  }

  nav.primary [role="menubar"] li {
    align-content: center;
    border-bottom: none;
    border-left-style: solid;
    border-left-width: .2em;
    border-top: .1em solid var(--color-outline);
    margin: 0;
  }

  nav.primary [role="menubar"] ul {
    background-color: inherit;
  }

  nav.primary [role="menubar"] [role="menu"][aria-hidden="false"] {
    position: relative;
    display: grid;
    grid-template-rows: minmax(auto, 1fr);;
    border: none;
  }

  nav.primary [role="menubar"] > li a {
    display: inline-block;
  }

  nav.primary [role="menubar"] > li > [role="menu"] {
    top: auto;
  }

  nav.primary [role="menubar"] [aria-haspopup] {
    display: inline-block;
  }

  nav.primary [role="menubar"] li:where(:not([aria-current="page"]), :not(:hover)) {
    border-left-color: transparent;
  }

  nav.primary [role="menubar"] li:has(:hover){
    border-left-style: dotted;
    border-left-color: var(--color-on-tertiary-container);
  }

  nav.primary [role="menubar"] li:has([aria-current="page"]) {
    border-left-color: var(--color-on-secondary-container);
  }

  nav.primary [role="menubar"] [role="menu"] > li:has([aria-current="page"]) {
    border-left-color: var(--color-on-secondary-container);
  }
}

/* Bigger display devices */

@media only screen and (width > 1024px) {
  [role="menu"]:not([role="menu"] [role="menu"]) {
    padding-left: 0;
  }

  nav.primary [data-function="mobile-menu"] {
    display: none;
  }

  nav.primary [role="menubar"] {
    margin-left: auto;
    flex: 1;
    justify-content: flex-end;
  }

  .primary [role="menubar"]>li:has(> [aria-haspopup]) {
    grid-template:
        "link button" auto
        / 1fr auto;
  }

  nav.primary [role="menubar"] > li:has(> [role="menuitem"]) {
    border-bottom-style: solid;
    border-bottom-width: .2em;
    column-gap: 0;
  }

  nav.primary [role="menubar"] [role="menu"] > li:has(> [role="menuitem"]) {
    border-left-style: solid;
    border-left-width: .2em;
  }

  nav.primary [role="menubar"] > li:has(> [role="menuitem"]):where(:not([aria-current="page"]), :not(:hover)) {
    border-bottom-color: transparent;
  }

  nav.primary [role="menubar"] [role="menu"] > li:has(> [role="menuitem"]):where(:not([aria-current="page"]), :not(:hover)) {
    border-left-color: transparent;
  }

  nav.primary [role="menubar"] > li:has(> [role="menuitem"]):has(:hover) {
    border-bottom-color: var(--color-on-tertiary-container);
  }

  nav.primary [role="menubar"] [role="menu"] > li:has(> [role="menuitem"]):has(:hover) {
    border-left-color: var(--color-on-tertiary-container);
  }

  nav.primary [role="menubar"] li:has([aria-current="page"]) {
    border-bottom-color: var(--color-on-secondary-container);
  }

  nav.primary [role="menubar"] [role="menu"] > li:has([aria-current="page"]) {
    border-left-color: var(--color-on-secondary-container);
  }

  nav.primary [role="menubar"] li:has([role="menuitem"]):hover {
    border-style: dotted;
  }

  nav.primary [role="menubar"] li:has(:hover) {
    border-color: var(--color-on-tertiary-container);
  }
}

@media print {
  [role="menubar"] {
    display: none;
  }
}
