{{ $body_classes :=  (or .Params.body_classes slice) | append "theme-default" -}}
<!DOCTYPE html>
<html class="no-js" lang="{{ $.Site.LanguageCode | default `it` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  {{ $body_classes := delimit $body_classes " " -}}
  <body class="{{ $body_classes }}">
    <header class="page-header">
      {{ partial "header.html" . }}
      {{ partial "search.html" . }}
      {{ partial "breadcrumbs.html" . }}
    </header>
    <main aria-role="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "sidebar.html" . }}
    {{ partial "footer.html" . -}}
    {{ partial "footer-scripts.html" . }}
  </body>
</html>
