<!DOCTYPE html>
<html class="no-js" lang="{{ $.Site.LanguageCode | default `it` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="theme-default">
    <header class="page-header">
      {{ partial "header.html" . }}
      {{ partial "search.html" . }}
      {{ partial "breadcrumbs.html" . }}
    </header>
    <main aria-role="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "sidebar.html" . }}
    {{ partial "footer.html" . -}}
    {{ partial "footer-scripts.html" . }}
  </body>
</html>
