{{- partial "helpers/templates.html" -}}
{{ $bodyClasses := (or .Params.body_classes slice) }}
{{- if .Page.Store.Get "body-classes" -}}
  {{ $bodyClasses = $bodyClasses | append (.Page.Store.Get "body-classes") }}
{{- end -}}
<!DOCTYPE html>
<html class="no-js" lang="{{ $.Site.LanguageCode | default `it` }}">
  <head>
    {{ partial "head.html" . }}
    {{ block "head-addition" . }}{{ end }}
  </head>
  <body class="{{ delimit $bodyClasses " " }}">
    <header>
      {{ partial "header.html" . }}
      {{ if .Site.Params.showSearchUI }}{{ partial "search.html" . }}{{ end }}
      {{ partial "breadcrumbs.html" . }}
    </header>
    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "sidebar" . }}{{ partial "sidebar.html" . }}{{ end }}
    <footer>
      {{ partial "footer.html" . -}}
      {{ partial "footer-scripts.html" . }}
    </footer>
  </body>
</html>
