{{- $page := .page }}
{{- $menuID := .menuID }}
{{- $level := .indentLevel }}
{{- range .menuEntries }}
  {{- $attributes := dict "href" .URL "role" "menuitem" }}
  {{- $classes := slice }}
  {{- if $page.IsMenuCurrent $menuID . }}
    {{- $attributes = merge $attributes (dict "aria-current" "page") }}
  {{- end }}
  {{- $name := .Name }}
  <li {{- with $classes }}{{ printf " class=%q" (delimit $classes " ") | safeHTMLAttr }}{{- end }} role="none">
    {{- if .HasChildren }}
      {{- $ariaLabel := printf "%s submenu" $name }}
      {{- $ariaSubmenuID := printf "%s-submenu" $name | anchorize }}
      {{- $ariaButtonID := printf "%s-button" $name | anchorize }}
      <a {{ template "render-attributes" (dict "attributes" $attributes) }}>
        {{ $name }}
      </a>
      <button
        id="{{ $ariaButtonID }}"
        role="menuitem"
        data-symbol
        aria-controls="{{ $ariaSubmenuID }}"
        aria-expanded="false"
        aria-haspopup="true"
        aria-label="{{ $ariaLabel }}"
      ></button>
      {{- with .Children }}
        <ul role="menu" aria-hidden="true" id="{{ $ariaSubmenuID }}" aria-labelledby="{{ $ariaButtonID }}">
          {{- partial "menu/walk.html" (dict "page" $page "menuID" $menuID "indentLevel" (add $level 1) "menuEntries" .) }}
        </ul>
      {{- end }}
    {{- else }}
      <a {{ template "render-attributes" (dict "attributes" $attributes) }}>{{ $name }}</a>
    {{- end }}
  </li>
{{- end }}
