.theme-switcher button {
  {{ with resources.Get "images/theme-os-default.svg" | resources.Fingerprint "sha512" -}}

    mask-image: url({{ .RelPermalink }});
  {{- end }}
}

.theme-dark .theme-switcher button {
  {{ with resources.Get "images/theme-dark.svg" | resources.Fingerprint "sha512" -}}

    mask-image: url({{ .RelPermalink }});
  {{- end }}
}

.theme-light .theme-switcher button {
  {{ with resources.Get "images/theme-light.svg" | resources.Fingerprint "sha512" -}}

    mask-image: url({{ .RelPermalink }});
  {{- end }}
}

{{ if .Site.Params.showSearchUI -}}
/* stylelint-disable selector-class-pattern */
#search button.pagefind-ui__search-clear::before {
  {{ with resources.Get "images/clear-icon.svg" | resources.Fingerprint "sha512" -}}

    mask-image: url({{ .RelPermalink }});
  {{- end }}
}
/* stylelint-enable selector-class-pattern */
{{- end }}
