.theme-switcher button {
  {{ with resources.Get "images/theme-os-default.svg" | resources.Fingerprint "sha512" -}}

    mask-image: url({{ .RelPermalink }});
  {{- end }}
}

[data-color-scheme="dark"] .theme-switcher button {
  {{ with resources.Get "images/theme-dark.svg" | resources.Fingerprint "sha512" -}}

    mask-image: url({{ .RelPermalink }});
  {{- end }}
}

[data-color-scheme="light"] .theme-switcher button {
  {{ with resources.Get "images/theme-light.svg" | resources.Fingerprint "sha512" -}}

    mask-image: url({{ .RelPermalink }});
  {{- end }}
}
