/* base theme properties */

:root {
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --base-font-size: 100%;
  --font-size: 1rem;
  --font-family-sans: -apple-system, "BlinkMacSystemFont", "Avenir",
    "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
  --headers-font-weight: 500;
  --line-height: 1.6;
  --standard-border-radius: 3px;
}

html {
  box-sizing: border-box;
  font-size: var(--base-font-size);
  text-size-adjust: 100%;
  font-family: var(--font-family-sans);
  scroll-behavior: smooth;
}

body {
  line-height: var(--line-height);
  font-size: var(--font-size);
  font-family: var(--font-family-sans);
  padding: 0;
}

main {
  margin: 2.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: var(--headers-font-weight);
}

a {
  text-decoration: none;
}

a:hover:not(.button) {
  opacity: 0.75;
}

a:any-link:hover:not(.button) {
  text-decoration: underline;
}

button {
  font-family: inherit;
  font-size: 1rem;
}

p {
  margin-top: 0;
}

figure {
  padding: 1rem 1rem 0.5rem 1rem;
}

blockquote {
  padding: 1.5rem 2rem;
}

dl dt {
  font-weight: bold;
}

hr {
  border-style: solid;
  height: 0.2rem;
  margin: 1rem 0;
}

table {
  width: 100%;
  border: none;
  border-spacing: 0;
  text-align: left;
}

td,
th {
  vertical-align: middle;
  padding: 1.2rem 0.4rem;
}

code,
kbd,
pre,
samp,
tt {
  font-family: var(--font-family-mono);
}

code,
kbd {
  font-size: 90%;
  white-space: pre-wrap;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
}

pre {
  font-size: 1rem;
  padding: 1rem;
  overflow-x: auto;
}

pre code {
  background: none;
  padding: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-line: underline;
  text-underline-offset: 0.3rem;
  -webkit-text-decoration-style: dotted;
  -webkit-text-decoration-line: underline;
  -webkit-text-underline-offset: 0.3rem;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}

body>header {
  line-height: 1;
  top: 0;
}

body>main h1 {
  margin-top: 0;
}

nav.primary {
  display: flex;
  min-height: 5rem;
  align-items: stretch;
  justify-content: space-between;
}

nav.primary .menu ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav.primary img {
  min-height: 3rem;
}

nav.primary>.container {
  display: flex;
}

nav.primary .menu a,
nav.brand {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

nav.breadcrumb {
  padding: 1.5em 2em 0;
  border-radius: 4px;
}

nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 0.8em;
}

nav.breadcrumb li {
  display: inline;
}

nav.breadcrumb li+li::before {
  display: inline-block;
  margin: 0 0.25em;
  content: ">";
}

nav.breadcrumb li:last-child {
  font-weight: bold;
  text-decoration: none;
}

/* Mobile devices */

@media only screen and (max-width: 480px),
only screen and (max-device-width: 480px) {
  nav,
  nav>.container {
    flex-direction: column;
  }

  nav-center,
  nav-left,
  nav-right {
    flex-wrap: wrap;
    justify-content: center;
  }

  button.theme-switcher {
    position: fixed;
    right: 0;
    top: 1em;
  }
}

/* Tablets devices */


/* Print */

@media print {
  h2 {
    break-before: auto;
  }

  h1+h2 {
    page-break-before: avoid;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
  {
    break-after: avoid-page;
  }

  pre,
  blockquote {
    break-inside: avoid-page;
  }

  ol,
  ul,
  li {
    break-inside: avoid-page;
  }

  h3~ :is(p, ul, ol) {
    break-before: avoid-page;
  }
}