/* base theme properties */

:root {
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-family-sans: -apple-system, "BlinkMacSystemFont", "Avenir",
    "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
  --headers-font-weight: 500;
  --line-height: 1.6;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: var(--line-height);
  font-size: var(--font-size);
  font-family: var(--font-family-sans);
  margin: 0;
  padding: 0;
}

main {
  margin: 2.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* padding: 0.35em 0 0.7em; */
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: var(--headers-font-weight);
}

h4,
h5,
h6 {
  font-weight: calc(var(--headers-font-weight) * 1.2);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.85em;
}

a {
  text-decoration: none;
}

a:hover:not(.button) {
  opacity: 0.75;
}

button {
  font-family: inherit;
}

p {
  margin-top: 0;
}

figure,
blockquote {
  padding: 1.5rem 2rem;
}

dl dt {
  font-weight: bold;
}

hr {
  border: none;
  height: 1px;
  margin: 1rem 0;
}

table {
  width: 100%;
  border: none;
  border-spacing: 0;
  text-align: left;
}

td,
th {
  vertical-align: middle;
  padding: 1.2rem 0.4rem;
}

code,
kbd,
pre,
samp,
tt {
  font-family: var(--font-family-mono);
}

code,
kbd {
  font-size: 90%;
  white-space: pre-wrap;
  border-radius: 4px;
  padding: 0.2em 0.4em;
}

pre {
  font-size: 1em;
  padding: 1rem;
  overflow-x: auto;
}

pre code {
  background: none;
  padding: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}

body>header {
  line-height: 1;
  top: 0;
  /* position: sticky; */
}

body>header .brand {
  margin: 0.5em 0.5em;
  padding: 0;
  font-size: 1.2em;
}

body>header h1 {
  /* font-size: 1.5em; */
  margin: 0;
}

search {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  min-height: 5rem;
  align-items: stretch;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav img {
  max-height: 3rem;
}

nav>.container {
  display: flex;
}

nav-center,
nav-left,
nav-right {
  display: flex;
  flex: 1;
}

nav-left {
  justify-content: flex-start;
}

nav-right {
  justify-content: flex-end;
}

nav-center {
  justify-content: center;
}

@media screen and (max-width: 480px) {

  nav,
  nav>.container {
    flex-direction: column;
  }

  nav-center,
  nav-left,
  nav-right {
    flex-wrap: wrap;
    justify-content: center;
  }
}

nav a,
nav .brand {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
