/* base theme properties */

:root {
  --grid-gutter: 2rem;
  --base-font-size: 100%;
  --font-size: 1rem;
  --font-family-sans: -apple-system, "BlinkMacSystemFont", "Avenir",
    "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
  --headers-font-weight: 500;
  --line-height: 1.6;
  --standard-border-radius: 3px;
}

html {
  box-sizing: border-box;
  font-size: var(--base-font-size);
  text-size-adjust: 100%;
  font-family: var(--font-family-sans);
  scroll-behavior: smooth;
  min-height: 100vh
}

body {
  line-height: var(--line-height);
  font-size: var(--font-size);
  font-family: var(--font-family-sans);
  padding: 0;
  min-height: 100vh
}

main {
  margin: 2.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: var(--headers-font-weight);
}

a {
  text-decoration: underline;
}

a:focus,
a:hover {
  opacity: 0.75;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: 1rem;
}

p {
  margin-top: 0;
}

figure {
  padding: 1rem 1rem 0.5rem;
}

blockquote {
  padding: 1.5rem 2rem;
}

dl dt {
  font-weight: bold;
}

hr {
  border-style: solid;
  height: 0.2rem;
  margin: 1rem 0;
}

table {
  width: 100%;
  border: none;
  border-spacing: 0;
  text-align: left;
}

td,
th {
  vertical-align: middle;
  padding: 1.2rem 0.4rem;
}

code,
kbd,
pre,
samp,
tt {
  font-family: var(--font-family-mono);
}

code,
kbd {
  font-size: 90%;
  white-space: pre-wrap;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
}

pre {
  font-size: 1rem;
  padding: 1rem;
  overflow-x: auto;
}

pre code {
  background: none;
  padding: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-style: dotted;
  text-decoration-line: underline;
  -webkit-text-underline-offset: 0.3rem;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}

body>header {
  line-height: 1;
  top: 0;
}

body>main h1 {
  margin-top: 0;
}

nav.primary {
  display: flex;
}

nav.breadcrumb a,
nav.primary a {
  text-decoration: none;
}

nav.primary ul {
  list-style: none;
}

nav.primary [role="menubar"] {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav.primary>.container {
  display: flex;
}

nav.brand a,
nav.primary [role="menubar"] a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1em;
}

nav.breadcrumb {
  padding: 1.5em 2em 0;
}

nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 1em;
}

nav.breadcrumb li {
  display: inline;
}

nav.breadcrumb li+li::before {
  display: inline-block;
  margin: 0 0.25em;
  content: ">";
}

/* Mobile devices */

@media only screen and (width <= 480px) {
  ul {
    padding-inline-start: 1em;
  }
}

/* Print */

@media print {
  h2 {
    break-before: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
  {
    break-after: avoid-page;
  }

  h1+h2 {
    page-break-before: avoid;
  }

  pre,
  blockquote {
    break-inside: avoid-page;
  }

  ol,
  ul,
  li {
    break-inside: avoid-page;
  }

  h3~ :is(p, ul, ol) {
    break-before: avoid-page;
  }
}
