body.glossary .glossary-term {
  border-left: thin solid oklch(from var(--color-on-secondary-container) l c h / 50%);
  padding-left: 1em;
}

body.glossary .glossary-term:has(:hover) {
  border-left-color: var(--color-on-secondary-container)
}

.glossary-term footer h2 {
  font-size: 1.1em;
  margin: .1em;
}

.glossary-term footer {
  padding-left: 1em;
}

.glossary-term footer ul {
  margin: .1em;
}

[role="doc-glossary"] header nav>h2 {
  display: inline-block;
  font-size: 1.1em;
}

[role="doc-glossary"] header nav>ul>li {
  display: inline-block;
}

[role="doc-glossary"] header nav>ul {
  padding: .1em .1em .1em .5em;
  list-style: none;
  display: inline-block;
}

.glossary-term footer .abbreviations ul,
.glossary-term footer .synonyms ul {
  padding: 0 .5em;
}

.glossary-term footer .abbreviations li,
.glossary-term footer .synonyms li {
  display: inline-block;
}

.glossary-term footer .abbreviations li + li::before,
.glossary-term footer .synonyms li + li::before {
  content: " | ";
  padding: 0 .5em;
}

body.glossary .glossary-term h2 {
  font-size: 1.1em;
}

[role="doc-glossary"] header>p {
  padding: 1em;
  border: thin solid var(--color-on-secondary-container);
}
