/* || GENERAL STYLES NORMALIZATION */

body {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

/* Fix  */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Correct small font size */

small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` elements from affecting the line height */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Remove border from images, if present */

img {
  border-style: none;
}

/* Correct the font size for headers */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.85em;
}

ul {
  /* … */
}

blockquote {
  /* … */
}

/* Do not display if is a `template` or has `hidden` attribute */

template,
[hidden] {
  display: none;
}