body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  min-height: 100vh;
  display: grid;
  font-size: 1.2em
}

/* stylelint-disable declaration-property-value-no-unknown */
a {
  color: var(--color-on-secondary-container);
  text-decoration-color: oklch(from currentcolor l c h / 75%);
}
/* stylelint-enable declaration-property-value-no-unknown */

hr {
  border-color: var(--color-outline-variant);
}

mark {
  padding: 2px 5px;
  border-radius: var(--standard-border-radius);
}

blockquote {
  margin: 2rem 0 2rem 2rem;
  padding: 0.4rem 0.8rem;
  border-left: thick solid var(--color-on-secondary-container);
}

kbd {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-surface-bright);
  box-shadow: 0 2px 2px var(--color-shadow), 0 2px 0 0 var(--color-light) inset;
  background-color: var(--color-surface-container);
  border-bottom: 3px solid var(--color-on-surface-container);
  border-radius: var(--standard-border-radius);
}

figure {
  color: var(--color-on-surface-variant);
  background-color: var(--color-surface-variant);
  border-radius: 0.5rem;
  margin: 0.5rem;
  width: auto;
}

figure:has(> img) {
  width: fit-content;
}

img {
  height: auto;
}

.brand {
  color: var(--color-primary);
}

body>header {
  grid-area: header;
  min-width: 100vw;
}

body>main {
  margin: 1rem 2rem;
  grid-area: content;
  background-color: inherit;
}

h1 {
  color: var(--color-on-secondary-container);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--color-on-primary-container);
}

.categories a,
.tags a {
  text-decoration: none;
}

.pagination>li {
  list-style: none;
  display: inline-block;
  padding: 1em;
}

body>aside.sidebar {
  grid-area: sidebar;
  color: var(--color-on-surface);
  background-color: var(--color-surface-container-high);
  margin-top: 1em;
  padding-left: 1em;
  border-top-left-radius: 1em;
  border-top: 0.1em solid var(--color-outline);
  border-left: 0.1em solid var(--color-outline);
}

body>footer {
  grid-area: footer;
  padding: 1.2rem;
  color: var(--color-on-surface-container);
  background-color: var(--color-surface-container);
  margin: auto 0;
  text-align: center;
}

.theme-switcher button {
  align-items: center;
  justify-content: center;
  border: none;
  margin: auto 0.5rem;
  content: "";
  font-size: 1.5rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-on-primary);
  background-color: currentcolor;
  mask-size: 1.5rem;
  mask-repeat: no-repeat;
  vertical-align: middle;
  padding-right: 1.5rem;
  cursor: pointer;
}

.theme-switcher button:hover {
  color: var(--color-secondary);
}

nav.breadcrumb a {
  color: var(--color-on-tertiary);
}

body>aside.sidebar a {
  color: var(--color-on-surface);
}

.pagination .active a {
  font-weight: bold;
}

/* stylelint-disable declaration-property-value-no-unknown */
.pagination .disabled a {
  color: hsl(from currentcolor h s l / 50%);
}
/* stylelint-enable declaration-property-value-no-unknown */

.pages-list > li {
  list-style: none;
}

.pages-list > li > a.title{
  font-weight: bold;
  text-decoration: none;
}

.pages-list > li>time {
  display: block;
  font-size: .8em;
  margin-left: 0.1em;
  color: var(--color-on-secondary);
}

body>main>article>figure {
  margin: 0;
}

body>main ul>li > blockquote {
  margin: 0;
}

body>main ul>li > blockquote>p {
  margin: 0;
}

body>main ul.section-tree li,
body>main ul.taxonomies li {
  list-style: none;
}

body>main .pages-list {
  border-top: 0.35rem solid var(--color-secondary-container);
  padding-top: 2em;
}

.material-symbols-outlined {
  font-size: 1.2em;
  vertical-align: middle;
}

.material-symbols-outlined:has(+ time) {
  float: inline-start;
  padding-right: 0.2em;
  color: var(--color-on-secondary);
}

body>main h1 .material-symbols-outlined {
  padding-right: 0.1em;

}

.sidebar .material-symbols-outlined {
  line-height: 1em;
  font-size: 1.5em;
  margin-right: .1em;
}

.sidebar nav.toc>h2 {
  font-size: 1.2em;
  margin-bottom: 0;
}

.sidebar nav.toc>ul {
  margin-top: 0;
}

nav.breadcrumb li:last-child {
  font-weight: bold;
}

nav.primary {
  color: var(--color-on-surface);
  background-color: var(--color-primary);
  z-index: 10;
  align-content: center;
}

nav.primary [role="menubar"]>li {
  padding-left: 1rem;
  align-self: baseline;
  position: relative;
}

nav.primary [role="menubar"] a {
  color: var(--color-on-primary);
  text-decoration: none;
  border-bottom: thick solid transparent;
  white-space: nowrap;
}

nav.primary [role="menubar"] [aria-expanded="true"] {
  color: var(--color-on-tertiary-container);
  border-bottom-color: var(--color-on-tertiary);
  border-bottom-style: dashed;
}

nav.primary [role="menubar"] a:hover {
  color: var(--color-on-tertiary-container);
  border-bottom-color: var(--color-on-tertiary);
}

nav.primary [role="menubar"] .active {
  color: var(--color-on-secondary-container);
  border-bottom-color: var(--color-on-secondary);
}

nav.primary [role="menubar"] .ancestor {
  border-bottom-style: dashed;
  border-bottom-color: var(--color-on-secondary);
}

nav.primary [role="menubar"] ul {
  padding: .2em;
  background-color: var(--color-surface-container-high);
}

nav.primary.responsive [role="menubar"] ul {
  background-color: inherit;
}

nav.primary [role="menubar"]>li>[role="menu"] {
  margin-top: 0;
  border: 0.1rem solid var(--color-outline-variant);
}

nav.primary [role="menubar"] ul li {
  padding: .2em;
}

nav.primary [role="menubar"] [role="menu"][aria-hidden="false"] {
  position: absolute;
}

nav.primary [role="menubar"] [role="menu"][aria-hidden="false"] ul {
  position: relative;
}

nav.primary [role="menubar"] [role="menu"][aria-hidden="false"]>li {
  text-align: left;
  padding: .25em;
  margin: .2em;
}

nav.primary [role="menubar"] [role="menu"][aria-hidden="false"] li:has([aria-expanded="true"]) ul,
nav.primary.responsive [role="menubar"] [role="menu"][aria-hidden="false"] li:has([aria-expanded="true"]) ul {
  margin-top: .25em;
}

nav.primary [role="menubar"] [role="menu"][aria-hidden="false"] li:has([aria-expanded="true"]),
nav.primary.responsive [role="menubar"] [role="menu"][aria-hidden="false"] li:has([aria-expanded="true"]) {
  padding-bottom: 0;
  margin-bottom: 0;
}

nav.primary [role="menubar"] [role="menu"][aria-hidden="true"] {
  display: none;
}

nav.primary .brand {
  white-space: nowrap;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  align-content: center;
}

nav.primary .brand a:any-link:hover {
  text-decoration: none;
}

nav.primary .brand img {
  max-height: 2.5em;
  height: fit-content;
  padding: 0;
  margin-left: .5em;
  margin-right: .5em;
  vertical-align: middle;
}

nav.primary .brand .title span {
  color: var(--color-on-primary);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.7em;
  display: inline-block;
}

nav.primary .brand .title p {
  text-align: right;
  font-size: .9em;
  color: var(--color-on-tertiary);
  margin: 0;
}

nav.primary hgroup.title {
  display: inline-block;
  vertical-align: middle;
}

nav.primary .menu-icon {
  align-items: center;
  justify-content: center;
  border: 1px solid oklch(from var(--color-shadow) l c h / 50%);
  border-radius: .25em;
  font-size: 2em;
  margin: .1em;
  display: inline-block;
  color: var(--color-on-surface);
  background-color: inherit;
  vertical-align: middle;
  cursor: pointer;
  max-width: fit-content;
  padding: 0 .1em .1em .2em;
}

body>header nav.primary {
  position: sticky;
  top: 0;
  align-self: start;
}

[aria-haspopup="true"] svg {
  height: 1em;
  vertical-align: middle;
}

nav.breadcrumb .material-symbols-outlined {
  vertical-align: bottom;
}

#search {
  padding: 1rem 1rem 0;
}

#search input:focus{
  outline: none;
  border-color: var(--color-on-surface-variant);
}

/* Mobile devices */

@media only screen and (width <= 480px) {
  h1 {
    margin-bottom: .5em;
  }

  nav,
  nav>.container {
    flex-direction: column;
  }

  nav-center,
  nav-left,
  nav-right {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav.breadcrumb {
    display: none;
  }

  body>main h2 {
    margin-top: 0;
    margin-bottom: .2em;
  }

  body>main figure {
    width: auto;
  }

  body>main .pages-list {
    margin: .1rem;
    padding: .1rem;
  }

  #search {
    padding: .5rem .5rem 0;
  }
}

/* Small tablet devices and smaller */

@media only screen and (width <= 1024px) {
  :root {
    --font-size: 1rem;
  }

  body {
    grid-template:
      "header" auto
      "content" 1fr
      "sidebar" auto
      "footer" auto;
    min-width: 100vw;
  }

  body>main {
    overflow: scroll;
    padding: .1rem .1rem 0;
    margin: 0 1rem;
  }

  body>header nav.primary {
    display: flow-root;
  }

  body>aside.sidebar {
    border: none;
    border-radius: unset;
  }

  nav.breadcrumb {
    padding: .5rem 1rem;
  }

  nav.primary .brand {
    display: block;
    text-align: inherit;
    font-size: 1.2rem;
    margin: .5rem .1rem;
    padding: 0;
  }

  nav.primary .menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  nav.primary [role="menubar"] {
    padding: 0;
    margin: 0;
  }

  nav.primary [role="menubar"] li {
    display: none;
  }

  nav.primary.responsive {
    position: relative;
  }

  nav.primary.responsive [role="menubar"] {
    display: grid;
    grid-template-rows: minmax(auto, 1fr);;
  }

  nav.primary.responsive [role="menubar"]>li {
    display: block;
    text-align: center;
    padding: .5em;
    align-content: center;
  }

  nav.primary.responsive [role="menubar"] .theme-switcher button {
    padding-bottom: 1em;
  }

  nav.primary.responsive [role="menubar"] [role="menu"][aria-hidden="false"] {
    position: relative;
    display: grid;
    grid-template-rows: minmax(auto, 1fr);;
    border: none;
  }

  nav.primary.responsive [role="menubar"] [role="menu"][aria-hidden="false"]>li {
    text-align: left;
    border-top: 0.1em solid var(--color-outline);
    padding: 1em;
    display: table-row;
  }
}

@media only screen and (width > 1024px) {
  body {
    grid-template:
      "header header" auto
      "content sidebar" 1fr
      "footer footer" auto
      / 4fr 1fr;
  }

  nav.primary [role="menubar"] {
    align-content: center;
    margin-left: auto;
  }

  nav.primary .menu-icon {
    display: none;
  }
}

@media print {
  :root {
    --font-size: 1rem;
  }

  body {
    display: block;
  }

  .sidebar,
  .breadcrumb,
  .theme-switcher,
  [role="menubar"],
  #search,
  #theme-links {
    display: none;
  }

  nav.primary .brand img ,
  nav.primary .title {
    padding: 0%;
    margin: 0%;
  }
}

/* (start) Skip to content link style */

body>header .skip-link {
  background: var(--color-background);
  padding: .5em;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: 20;
}

body>header .skip-link:focus {
  transform: translateY(0%);
}

/* (end) Skip to content link style */

code {
  background-color: var(--color-surface-container-high);
}
