body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  display: grid;
}

/* stylelint-disable declaration-property-value-no-unknown */
a {
  color: var(--color-on-secondary-container);
  text-decoration-color: oklch(from currentcolor l c h / 75%);
}
/* stylelint-enable declaration-property-value-no-unknown */

hr {
  border-color: var(--color-outline-variant);
}

blockquote {
  margin: 2rem 0 2rem 2rem;
  padding: 0.4rem 0.8rem;
  border-left: thick solid var(--color-on-secondary-container);
}

blockquote p:last-child {
    margin-bottom: 0;
}

kbd {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-surface-bright);
  box-shadow: 0 2px 2px var(--color-shadow), 0 2px 0 0 var(--color-light) inset;
  background-color: var(--color-surface-container);
  border-bottom: 3px solid var(--color-on-surface-container);
  border-radius: var(--standard-border-radius);
}

code {
  background-color: var(--color-surface-container);
}

figure {
  color: var(--color-on-surface-variant);
  background-color: var(--color-surface-variant);
  border-radius: 0.5rem;
  margin: 0.5rem;
  width: auto;
}

figure:has(> img) {
  width: fit-content;
}

body > header {
  grid-area: header;
  background-color: var(--color-surface-container-high);
  max-width: 100vw;
}

body > main {
  margin: 1rem 2rem;
  grid-area: content;
  background-color: inherit;
  max-width: calc(100vw - 4rem);
}

h1 {
  color: var(--color-on-secondary-container);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--color-on-primary-container);
}

.categories a,
.tags a {
  text-decoration: none;
}

.pagination > li {
  list-style: none;
  display: inline-block;
  padding: 1em;
}

body > .sidebar {
  grid-area: sidebar;
  color: var(--color-on-surface);
  background-color: var(--color-surface-container-high);
  margin-top: 1em;
  padding-left: 1em;
  border-top-left-radius: 1em;
  border-top: 0.1em solid var(--color-outline);
  border-left: 0.1em solid var(--color-outline);
}

body > footer {
  grid-area: footer;
  padding: 1.2rem;
  color: var(--color-on-surface-container);
  background-color: var(--color-surface-container);
  margin: auto 0;
  text-align: center;
}

body > footer > span + span::before {
  display: inline-block;
  margin: 0 0.25em;
  content: "|";
}

.theme-switcher button {
  align-items: center;
  border: none;
  margin: auto .5em;
  content: "";
  display: inline-block;
  height: 100%;
  color: var(--color-on-primary);
  background-color: currentcolor;
  mask-size: 1.25em;
  mask-repeat: no-repeat;
  mask-position: center;
  cursor: pointer;
  padding-right: 1.5rem;
}

.theme-switcher button:hover {
  color: var(--color-secondary);
}

nav.breadcrumb [property="name"] {
  color: var(--color-on-tertiary);
}

body > .sidebar a {
  color: var(--color-on-surface);
}

.pagination a {
  text-decoration: none;
}

.pagination a:hover {
  text-decoration: underline;
}

.pagination .active a {
  font-weight: bold;
}

/* stylelint-disable declaration-property-value-no-unknown */
.pagination .disabled a {
  color: hsl(from currentcolor h s l / 50%);
  text-decoration: none;
}
/* stylelint-enable declaration-property-value-no-unknown */

.sections-list ul > li,
.pages-list ul > li {
  list-style: none;
}

.pages-list ul > li > time {
  display: block;
  font-size: .8em;
  margin-left: 0.1em;
  color: var(--color-on-secondary);
}

body > main > article > figure {
  margin: 0;
}

body > main ul > li > blockquote {
  margin: 0;
}

body > main ul > li > blockquote > p {
  margin: 0;
}

body > main ul.section-tree li,
body > main ul.taxonomies li {
  list-style: none;
}

body > main .sections-list,
body > main .pages-list {
  border-top: 0.35rem solid var(--color-secondary-container);
  padding-top: 1em;
}

body > main .sections-list h2,
body > main .pages-list h2 {
  padding-left: 1.2em;
  font-size: 1.2em;
}

.material-symbols-outlined {
  font-size: 1.2em;
  vertical-align: middle;
}

.material-symbols-outlined:has(+ time) {
  float: inline-start;
  padding-right: 0.2em;
  color: var(--color-on-secondary);
}

body > main h1 .material-symbols-outlined {
  padding-right: 0.1em;
}

.sidebar .material-symbols-outlined {
  line-height: 1em;
  font-size: 1.5em;
  margin-right: .1em;
}

.sidebar nav.toc > h2 {
  font-size: 1.2em;
  margin-bottom: 0;
}

.sidebar nav.toc > ul {
  margin-top: 0;
}

nav.primary {
  position: sticky;
  top: 0;
  align-self: start;
  color: var(--color-on-surface);
  background-color: var(--color-primary);
  z-index: 10;
  align-content: center;
}

nav.primary .brand {
  color: var(--color-primary);
  white-space: nowrap;
  font-size: 1rem;
  margin: 0;
  padding: .5em;
  align-content: center;
}

nav.primary .brand a:any-link:hover {
  text-decoration: none;
}

nav.primary .brand img,
nav.primary .brand svg {
  max-height: 2.5em;
  height: fit-content;
  padding: 0;
  margin-left: .5em;
  margin-right: .5em;
  vertical-align: middle;
}

nav.primary .brand hgroup span {
  color: var(--color-on-primary);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.7em;
  display: inline-block;
}

nav.primary .brand hgroup p {
  text-align: right;
  font-size: .9em;
  color: var(--color-on-tertiary);
  margin: 0;
}

nav.primary .brand hgroup {
  display: inline-block;
  vertical-align: middle;
}

[aria-haspopup="true"] svg {
  height: 1em;
  vertical-align: middle;
}

/* Mobile devices */

@media only screen and (width <= 480px) {
  h1 {
    margin-bottom: .5em;
  }

  nav {
    flex-direction: column;
  }

  body > main h2 {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  body > main figure {
    width: auto;
  }

  body > main .pages-list {
    margin: .1rem;
    padding: .1rem;
  }

  body > main .sections-list h2,
  body > main .pages-list h2 {
    padding-left: .5em;
  }
}

/* Small tablet devices and smaller */

@media only screen and (width <= 1024px) {
  body {
    grid-template:
      "header" auto
      "content" 1fr
      "sidebar" auto
      "footer" auto;
  }

  body > main {
    padding: .1rem .1rem 0;
    margin: 1rem;
    max-width: calc(100vw - 2rem);
  }

  body > header nav.primary {
    display: flow-root;
  }

  body > .sidebar {
    border: none;
    border-radius: unset;
  }

  nav.primary .brand {
    display: block;
    text-align: inherit;
    font-size: 1.2rem;
    margin: .5rem .1rem;
    padding: 0;
  }

  nav.primary.responsive {
    position: relative;
  }
}

/* Bigger display devices */

@media only screen and (width > 1024px) {
  :root {
    --font-size: 1.2rem;
  }

  body {
    grid-template:
      "header header" auto
      "content sidebar" 1fr
      "footer footer" auto
      / 5fr 2fr;
  }
}

@media print {
  .sidebar,
  #theme-links {
    display: none;
  }

  nav.primary .brand img ,
  nav.primary .brand svg ,
  nav.primary .brand hgroup {
    padding: 0%;
    margin: 0%;
  }
}

/* (start) Style for skip to content link */

body > header .skip-link {
  background: var(--color-background);
  padding: .5em;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: 20;
}

body > header .skip-link:focus {
  transform: translateY(0%);
}

/* (end) Style for skip to content link */
