{{- /*
Link to a glossary term.

The link text will be (first matching apply):

  - 'linkTitle' if provided
  - the fragment title if 'fragment' is provided and found in the glossary term
  - first glossary term abbreviation if found and 'linkAsAbbreviation' is true
  - 'page.LinkTitle' of the glossary term

@context {page} page The glossary term page.
@context {string} linkTitle The text to show for the link (optional).
@context {string} fragment An URI fragment (without the #) linking to an header ID in the term page (optional).
@context {bool} linkAsAbbreviation Show the term link as abbreviation, if available (default: true).
@context {string} errorLevel The error level for invalid page fragments (one of: ignore, warning (default), error).
@context {string} caller The file initiating the call (default to 'templates.Current.Parent.Name').

@returns {template.html}
*/ -}}

{{- /* Initialize. */ -}}
{{- $page := .page -}}
{{- $linkTitle := .linkTitle -}}
{{- $fragment := .fragment -}}
{{- $linkAsAbbreviation := .linkAsAbbreviation | default true -}}
{{- $errorLevel := .errorLevel | default "warning" -}}
{{- $caller := .caller | default templates.Current.Parent.Name -}}

{{- with $page -}}
  {{- $href := .RelPermalink -}}
  {{- with partial "helpers/get-page-fragment.html" (
    dict "page" . "fragment" $fragment "errorLevel" $errorLevel "caller" $caller
  ) -}}
    {{- $href = printf "%s#%s" $href $fragment -}}
    {{- if not $linkTitle -}}
      {{- $linkTitle = .Title -}}
    {{- end -}}
  {{- end -}}
  {{- $attributes := dict "href" $href "class" "glossary-term" -}}
  {{- if not $linkTitle -}}
    {{- $linkTitle = .LinkTitle -}}
    {{- if and $linkAsAbbreviation .Params.abbreviations -}}
      {{- $abbrAttributes := dict "title" .Title -}}
      {{- $renderedAbbrAttributes := partialCached "helpers/render-attributes.html" (dict "attributes" $abbrAttributes) -}}
      {{- $linkTitle = (printf "<abbr %s>%s</abbr>" $renderedAbbrAttributes (index .Params.abbreviations 0)) | safeHTML -}}
    {{- end -}}
  {{- end -}}
  <a {{ partial "helpers/render-attributes.html" (dict "attributes" $attributes) }}>{{ $linkTitle }}</a>
{{- end -}}
