{{- with .related }}
  <aside class="related">
    <h2>Related</h2>
    <ul>
    {{ range . }}
      {{ with page.GetPage . }}
        {{- $title := .Title }}
        {{- $attributes := dict "href" .RelPermalink }}
        {{ if .Params.abbreviations }}
          {{- $abbrAttributes := dict "title" .Title }}
          {{- $renderedAbbrAttributes := partial "helpers/render-attributes.html" (dict "attributes" $abbrAttributes) }}
          {{- $title = printf "<abbr %s />%s</span>" $renderedAbbrAttributes (index .Params.abbreviations 0) }}
        {{ end }}
        <li>
          <a {{ partial "helpers/render-attributes.html" (dict "attributes" $attributes) }}>{{ $title | safeHTML }}</a>
        </li>
      {{ end }}
    {{ end }}
    </ul>
  </aside>
{{ end -}}
