{{- with .resources }}
  <aside class="resources">
    <h2>External Resources</h2>
    <ul>
    {{ range . }}
      {{- $attributes := dict "rel" "external noreferrer" "target" "_blank" }}
      <li>
        {{- $resourceAttributes := merge $attributes (dict "href" .link) }}
        <a {{ partial "helpers/render-attributes.html" (dict "attributes" $resourceAttributes) }}>{{ .title }}</a>
        {{- if .source }}
          {{- $sourceAttributes := dict "class" "source" }}
          on
          {{- if .sourceLink -}}
            {{- $sourceAttributes = merge $attributes $sourceAttributes (dict "href" .sourceLink) }}
            <a {{ partial "helpers/render-attributes.html" (dict "attributes" $sourceAttributes) }}>
              {{- .source -}}
            </a>
          {{- else }}
            <span {{ partial "helpers/render-attributes.html" (dict "attributes" $sourceAttributes) }}>
              {{- .source -}}
            </span>
          {{- end }}
        {{- end }}
      </li>
    {{ end }}
    </ul>
  </aside>
{{ end -}}
