{{- $page := .page }}
{{- $options := .options | default dict }}

{{- $anchor := path.BaseName $page.Path | anchorize }}

{{- $attributes := dict "id" $anchor "class" "glossary-term" }}
{{- if $page.Page.Draft -}}
  {{- $attributes = merge $attributes (dict "data-is-draft" $page.Page.Draft) -}}
{{- end }}
<article {{ partial "helpers/render-attributes.html" (dict "attributes" $attributes) }}>
  <header >
    {{ if $options.embedded }}
      <a class="title" href="{{ $page.Params.externalLink | default $page.RelPermalink }}"><h2>{{ $page.LinkTitle }}</h2></a>
    {{ else }}
      <h1>{{ $page.Title }}</h1>
    {{ end }}
    {{ partial "glossary/contexts.html" (dict "contexts" ($page.Page.GetTerms "contexts") "embedded" $options.embedded) }}
  </header>
  <p>
    {{ if $options.embedded }}
      {{ $page.Description | markdownify }}
    {{ else }}
      {{ $page.Content | default $page.Description | markdownify }}
    {{ end }}
  </p>
  <footer>
    {{ partial "glossary/synonyms.html" (dict "synonyms" $page.Params.synonyms) }}
    {{ partial "glossary/abbreviations.html" (dict "abbreviations" $page.Params.abbreviations) }}
    {{ if not $options.embedded }}
      {{ partial "glossary/related.html" (dict "related" $page.Params.related "page" $page) }}
      {{ partial "glossary/internal-resources.html" (dict "internalResources" $page.Params.internalResources "page" $page) }}
      {{ partial "glossary/external-resources.html" (dict "externalResources" $page.Params.externalResources) }}
    {{ end }}
  </footer>
</article>
