li:has([data-function="switch-color-scheme"]) {
  align-content: center;
}

[data-function="switch-color-scheme"] {
  align-self: center;
  border: none;
  display: inline-block;
  margin: .2em .2em .3em .25em;
  width: 2em;
  padding: 0;
}

[data-function="switch-color-scheme"]::before {
  content: "contrast";
}

[data-function="switch-color-scheme"]:enabled:hover::before {
  font-size: 150%;
}

[data-color-scheme="dark"] [data-function="switch-color-scheme"]::before {
  content: "dark_mode";
}

[data-color-scheme="light"] [data-function="switch-color-scheme"]::before {
  content: "light_mode";
}

[data-function="switch-color-scheme"]:enabled:hover {
  background-color: var(--color-tertiary);
  color: var(--color-on-tertiary);
}

@media only screen and (width <= 1024px) {
  [data-function="switch-color-scheme"] {
    aspect-ratio: auto;
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 1.5em;
  }
}

@media print {
  [data-function="switch-color-scheme"] {
    display: none;
  }
}
