{{- $term := (.Get "term") }}
{{- $title := $term }}

{{- with page.GetPage (printf "/glossary/%s" $term) }}
  {{- $title := .Title }}
  {{- $attributes := dict "href" .RelPermalink }}
  {{ if .Params.abbreviations }}
    {{- $abbrAttributes := dict "title" .Title }}
    {{- $renderedAbbrAttributes := partial "helpers/render-attributes.html" (dict "attributes" $abbrAttributes) }}
    {{- $title = printf "<abbr %s />%s</span>" $renderedAbbrAttributes (index .Params.abbreviations 0) }}
  {{ end }}
  <a {{ partial "helpers/render-attributes.html" (dict "attributes" $attributes) }}>{{ $title | safeHTML }}</a>
{{ end -}}
