{{ if not .IsHome }}
<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol vocab="http://schema.org/" typeof="BreadcrumbList" aria-label="breadcrumbs">
    {{- range $index, $value := .Ancestors.Reverse }}
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="{{.Permalink}}">
        <span property="name">
          {{- if eq $index 0 }}
          <span class="material-symbols-outlined">home</span>
          {{- end }}
          {{ .LinkTitle }}
        </span>
      </a>
      <meta property="position" content="{{ add 1 $index }}">
    </li>
    {{- end }}
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="{{.Permalink}}" aria-current="page">
        <span property="name">{{ .LinkTitle }}</span>
      </a>
      <meta property="position" content="{{ len .Ancestors | add 1 }}">
    </li>
  </ol>
</nav>
{{- end }}
