{{/*
  Breadcrumb trail
  - Accessibility semantics as defined in Breadcrumb Example from ARIA APG:
    https://www.w3.org/WAI/ARIA/apg/patterns/breadcrumb/examples/breadcrumb/
  - RDFa as defined in Google Search Central documentation for Breadcrumb structured data:
    https://developers.google.com/search/docs/appearance/structured-data/breadcrumb#rdfa
*/}}
{{- if not .IsHome -}}
<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol vocab="http://schema.org/" typeof="BreadcrumbList">
    {{- range $index, $value := .Ancestors.Reverse }}
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="{{.Permalink}}">
        <span property="name">
          {{- if eq $index 0 }}
          <span class="material-symbols-outlined">home</span>
          {{- else }}
          {{ .LinkTitle }}
          {{- end }}
        </span>
      </a>
      <meta property="position" content="{{ add 1 $index }}" />
    </li>
    {{- end }}
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="{{.Permalink}}" aria-current="page">
        <span property="name">{{ .LinkTitle }}</span>
      </a>
      <meta property="position" content="{{ len .Ancestors | add 1 }}" />
    </li>
  </ol>
</nav>
{{ end -}}
