{{ $siteTitle := .Site.Title -}}
<span class="brand">
  <a href="{{ relURL "" }}" aria-label="{{ printf "%s homepage" $siteTitle }}">
    {{ with .Site.Params.logo -}}
      {{ with resources.Get . | resources.Fingerprint "sha512" -}}
        <img src="{{- .RelPermalink -}}" alt="{{ printf "%s logo" $siteTitle }}" />
      {{- end }}
    {{- end }}
    <hgroup class="title">
      <span>{{ $siteTitle }}</span>
      {{- $tagline := or .FirstSection.Params.Tagline .Site.Params.Tagline }}
      {{ if $tagline -}}
        <p>{{ $tagline }}</p>
      {{- end }}
    </hgroup>
  </a>
</span>
