{{- $page := .page }}
{{- $menuID := .menuID }}

<nav class="menu">
  <ul>
    {{- with index site.Menus $menuID }}
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuID" $menuID "menuEntries" .) }}
    {{- end }}
    <li>
      <button type="button" class="theme-switcher"></button>
    </li>
    <li class="menu-icon">
      <button type="button"><span class="material-symbols-outlined">menu</span></button>
    </li>
  </ul>
</nav>

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- $menuID := .menuID }}
  {{/* <pre>{{ debug.Dump $page }}</pre> */}}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent $menuID . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent $menuID .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuID" $menuID "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
