{{- $page := .page }}
{{- $menuID := .menuID }}

<ul id="menu" role="menubar">
  {{- with index site.Menus $menuID }}
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuID" $menuID "indentLevel" 0 "menuEntries" .) }}
  {{- end }}
  <li class="theme-switcher" role="none">
    <button type="button" aria-label="Theme Switch"></button>
  </li>
</ul>

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- $menuID := .menuID }}
  {{- $level := .indentLevel }}
  {{- range .menuEntries }}
    {{- $attributes := dict "href" .URL "role" "menuitem" }}
    {{- $classes := slice }}
    {{- if $page.IsMenuCurrent $menuID . }}
      {{- $attributes = merge $attributes (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent $menuID .}}
      {{- $attributes = merge $attributes (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    <li {{- with $classes }}{{ printf " class=%q" (delimit $classes " ") | safeHTMLAttr }}{{- end }} role="none">
      {{- if .HasChildren }}
        <a {{ template "render-attributes" (dict "attributes" $attributes) }} aria-haspopup="true" aria-expanded="false">
          {{ $name }}
          <svg fill="currentColor" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </a>
        {{- with .Children }}
          {{ $ariaLabel := printf "%s submenu" $name -}}
          <ul role="menu" aria-hidden="true" aria-label="{{ $ariaLabel }}">
            {{- partial "inline/menu/walk.html" (dict "page" $page "menuID" $menuID "indentLevel" (add $level 1) "menuEntries" .) }}
          </ul>
        {{- end }}
      {{- else }}
        <a {{ template "render-attributes" (dict "attributes" $attributes) }}>{{ $name }}</a>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
