{{- partial "helpers/templates.html" -}}
{{ $bodyClasses := (or .Params.body_classes slice) }}
<!DOCTYPE html>
<html class="no-js" lang="{{ $.Site.LanguageCode | default `en` }}">
  <head>
    {{ partial "head.html" . }}
    {{ block "head-addition" . }}{{ end }}
  </head>
  <body {{- with $bodyClasses }} class="{{ delimit . " " }}"{{ end }}>
    <header>
      {{ partial "header.html" . }}
      {{ if .Site.Params.showSearchUI }}{{ partial "search.html" . }}{{ end }}
      {{ partial "breadcrumbs.html" . }}
    </header>
    {{ block "sidebar" . }}{{ partial "sidebar.html" . }}{{ end }}
    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . -}}
    </footer>
  </body>
</html>
