{{ define "sidebar"}}<!-- hide sdebar -->{{ end }}
{{ define "main" }}
  {{ $taxonomy := index .Site.Taxonomies .Data.Plural }}
  <h1 class="title-header">
    <span data-symbol aria-hidden="true">
      {{- if eq .Data.Singular "tag" -}}
      label
      {{- else if eq .Data.Singular "category" -}}
      topic
      {{- else if eq .Data.Singular "autor" -}}
      person
      {{- else -}}
      bookmark
      {{- end -}}
    </span>
    {{- .Title -}}
  </h1>
  {{- with .Pages }}
  <ul class="taxonomies">
    {{ range . }}
    <li>
      <a href="{{ .Permalink }}">
        {{ .Title }} <span class="count">{{ $taxonomy.Count .Data.Term }}</span>
      </a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
{{ end }}
