{{ define "sidebar"}}<!-- hide sdebar -->{{ end }}
{{ define "main" }}
  {{ $taxonomy := index .Site.Taxonomies .Data.Plural }}
  <h1 class="title-header">
    {{- $visualSign := "bookmark" -}}
    {{- $taxonomiesWithIcons := slice "autor" "category" "tag" -}}
    {{- if in $taxonomiesWithIcons .Data.Singular -}}
      {{ $visualSign = .Data.Singular }}
    {{- end -}}
    <span data-visual-sign="{{ $visualSign }}" data-visual-sign-type="def" aria-hidden="true"></span>
    {{- .Title -}}
  </h1>
  {{- with .Pages }}
  <ul class="taxonomies">
    {{ range . }}
    <li>
      <a href="{{ .Permalink }}">
        {{ .Title }} <span class="count">{{ $taxonomy.Count .Data.Term }}</span>
      </a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
{{ end }}
