{{ define "sidebar"}}<!-- hide sdebar -->{{ end }}
{{ define "main" }}
<h1>
  <span class="material-symbols-outlined">
    {{- if eq .Data.Singular "tag" -}}
    label
    {{- else if eq .Data.Singular "category" -}}
    topic
    {{- else if eq .Data.Singular "autor" -}}
    person
    {{- else -}}
    bookmark
    {{- end -}}
  </span>
  {{- .Title | singularize -}}
</h1>
<ul class="section-tree">
  {{ range .Pages -}}
  <li>
    <a href="{{ .Permalink }}">
      <span class="material-symbols-outlined">article</span>
      {{ .Title }}
    </a>
    <p>{{ .Description }}</p>
  </li>
  {{- end }}
</ul>
{{- end }}
