.theme-palette-example table {
  table-layout: fixed;
  width: 100%;
}

/* primary */
.theme-palette-example .primary .color-main {
  color: #000;
  background-color: var(--palette-primary-main);
}

.theme-palette-example .primary .color-lightest {
  color: #000;
  background-color: var(--palette-primary-lightest);
}

.theme-palette-example .primary .color-lighter {
  color: #000;
  background-color: var(--palette-primary-lighter);
}

.theme-palette-example .primary .color-light {
  color: #000;
  background-color: var(--palette-primary-light);
}

.theme-palette-example .primary .color-medium-light {
  color: #000;
  background-color: var(--palette-primary-medium-light);
}

.theme-palette-example .primary .color-medium {
  color: #FFF;
  background-color: var(--palette-primary-medium);
}

.theme-palette-example .primary .color-medium-dark {
  color: #FFF;
  background-color: var(--palette-primary-medium-dark);
}

.theme-palette-example .primary .color-dark {
  color: #FFF;
  background-color: var(--palette-primary-dark);
}

.theme-palette-example .primary .color-darker {
  color: #FFF;
  background-color: var(--palette-primary-darker);
}

.theme-palette-example .primary .color-darkest {
  color: #FFF;
  background-color: var(--palette-primary-darkest);
}

/* secondary-left */
.theme-palette-example .secondary-left .color-main {
  color: #000;
  background-color: var(--palette-secondary-left-main);
}

.theme-palette-example .secondary-left .color-lightest {
  color: #000;
  background-color: var(--palette-secondary-left-lightest);
}

.theme-palette-example .secondary-left .color-lighter {
  color: #000;
  background-color: var(--palette-secondary-left-lighter);
}

.theme-palette-example .secondary-left .color-light {
  color: #000;
  background-color: var(--palette-secondary-left-light);
}

.theme-palette-example .secondary-left .color-medium-light {
  color: #000;
  background-color: var(--palette-secondary-left-medium-light);
}

.theme-palette-example .secondary-left .color-medium {
  color: #FFF;
  background-color: var(--palette-secondary-left-medium);
}

.theme-palette-example .secondary-left .color-medium-dark {
  color: #FFF;
  background-color: var(--palette-secondary-left-medium-dark);
}

.theme-palette-example .secondary-left .color-dark {
  color: #FFF;
  background-color: var(--palette-secondary-left-dark);
}

.theme-palette-example .secondary-left .color-darker {
  color: #FFF;
  background-color: var(--palette-secondary-left-darker);
}

.theme-palette-example .secondary-left .color-darkest {
  color: #FFF;
  background-color: var(--palette-secondary-left-darkest);
}


/* secondary-right */
.theme-palette-example .secondary-right .color-main {
  color: #000;
  background-color: var(--palette-secondary-right-main);
}

.theme-palette-example .secondary-right .color-lightest {
  color: #000;
  background-color: var(--palette-secondary-right-lightest);
}

.theme-palette-example .secondary-right .color-lighter {
  color: #000;
  background-color: var(--palette-secondary-right-lighter);
}

.theme-palette-example .secondary-right .color-light {
  color: #000;
  background-color: var(--palette-secondary-right-light);
}

.theme-palette-example .secondary-right .color-medium-light {
  color: #000;
  background-color: var(--palette-secondary-right-medium-light);
}

.theme-palette-example .secondary-right .color-medium {
  color: #FFF;
  background-color: var(--palette-secondary-right-medium);
}

.theme-palette-example .secondary-right .color-medium-dark {
  color: #FFF;
  background-color: var(--palette-secondary-right-medium-dark);
}

.theme-palette-example .secondary-right .color-dark {
  color: #FFF;
  background-color: var(--palette-secondary-right-dark);
}

.theme-palette-example .secondary-right .color-darker {
  color: #FFF;
  background-color: var(--palette-secondary-right-darker);
}

.theme-palette-example .secondary-right .color-darkest {
  color: #FFF;
  background-color: var(--palette-secondary-right-darkest);
}

/* complementary */
.theme-palette-example .complementary .color-main {
  color: #000;
  background-color: var(--palette-complementary-main);
}

.theme-palette-example .complementary .color-lightest {
  color: #000;
  background-color: var(--palette-complementary-lightest);
}

.theme-palette-example .complementary .color-lighter {
  color: #000;
  background-color: var(--palette-complementary-lighter);
}

.theme-palette-example .complementary .color-light {
  color: #000;
  background-color: var(--palette-complementary-light);
}

.theme-palette-example .complementary .color-medium-light {
  color: #000;
  background-color: var(--palette-complementary-medium-light);
}

.theme-palette-example .complementary .color-medium {
  color: #FFF;
  background-color: var(--palette-complementary-medium);
}

.theme-palette-example .complementary .color-medium-dark {
  color: #FFF;
  background-color: var(--palette-complementary-medium-dark);
}

.theme-palette-example .complementary .color-dark {
  color: #FFF;
  background-color: var(--palette-complementary-dark);
}

.theme-palette-example .complementary .color-darker {
  color: #FFF;
  background-color: var(--palette-complementary-darker);
}

.theme-palette-example .complementary .color-darkest {
  color: #FFF;
  background-color: var(--palette-complementary-darkest);
}

/* warning */
.theme-palette-example .warning .color-main {
  color: #000;
  background-color: var(--palette-warning-main);
}

.theme-palette-example .warning .color-lightest {
  color: #000;
  background-color: var(--palette-warning-lightest);
}

.theme-palette-example .warning .color-lighter {
  color: #000;
  background-color: var(--palette-warning-lighter);
}

.theme-palette-example .warning .color-light {
  color: #000;
  background-color: var(--palette-warning-light);
}

.theme-palette-example .warning .color-medium-light {
  color: #000;
  background-color: var(--palette-warning-medium-light);
}

.theme-palette-example .warning .color-medium {
  color: #FFF;
  background-color: var(--palette-warning-medium);
}

.theme-palette-example .warning .color-medium-dark {
  color: #FFF;
  background-color: var(--palette-warning-medium-dark);
}

.theme-palette-example .warning .color-dark {
  color: #FFF;
  background-color: var(--palette-warning-dark);
}

.theme-palette-example .warning .color-darker {
  color: #FFF;
  background-color: var(--palette-warning-darker);
}

.theme-palette-example .warning .color-darkest {
  color: #FFF;
  background-color: var(--palette-warning-darkest);
}

/* success */
.theme-palette-example .success .color-main {
  color: #000;
  background-color: var(--palette-success-main);
}

.theme-palette-example .success .color-lightest {
  color: #000;
  background-color: var(--palette-success-lightest);
}

.theme-palette-example .success .color-lighter {
  color: #000;
  background-color: var(--palette-success-lighter);
}

.theme-palette-example .success .color-light {
  color: #000;
  background-color: var(--palette-success-light);
}

.theme-palette-example .success .color-medium-light {
  color: #000;
  background-color: var(--palette-success-medium-light);
}

.theme-palette-example .success .color-medium {
  color: #FFF;
  background-color: var(--palette-success-medium);
}

.theme-palette-example .success .color-medium-dark {
  color: #FFF;
  background-color: var(--palette-success-medium-dark);
}

.theme-palette-example .success .color-dark {
  color: #FFF;
  background-color: var(--palette-success-dark);
}

.theme-palette-example .success .color-darker {
  color: #FFF;
  background-color: var(--palette-success-darker);
}

.theme-palette-example .success .color-darkest {
  color: #FFF;
  background-color: var(--palette-success-darkest);
}

/* error */
.theme-palette-example .error .color-main {
  color: #000;
  background-color: var(--palette-error-main);
}

.theme-palette-example .error .color-lightest {
  color: #000;
  background-color: var(--palette-error-lightest);
}

.theme-palette-example .error .color-lighter {
  color: #000;
  background-color: var(--palette-error-lighter);
}

.theme-palette-example .error .color-light {
  color: #000;
  background-color: var(--palette-error-light);
}

.theme-palette-example .error .color-medium-light {
  color: #000;
  background-color: var(--palette-error-medium-light);
}

.theme-palette-example .error .color-medium {
  color: #FFF;
  background-color: var(--palette-error-medium);
}

.theme-palette-example .error .color-medium-dark {
  color: #FFF;
  background-color: var(--palette-error-medium-dark);
}

.theme-palette-example .error .color-dark {
  color: #FFF;
  background-color: var(--palette-error-dark);
}

.theme-palette-example .error .color-darker {
  color: #FFF;
  background-color: var(--palette-error-darker);
}

.theme-palette-example .error .color-darkest {
  color: #FFF;
  background-color: var(--palette-error-darkest);
}

/* Theme colors */
.theme-schema-example tr.title th {
  border-top-style: solid;
  border-top-width: 0.2em;
  border-top-color: var(--color-outline-variant);
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  text-align: center;
  color: var(--color-outline);
}

.theme-schema-example .primary-title th {
  border-bottom-color: var(--color-primary);
}

.theme-schema-example .color-primary .show-as-background-color {
  background-color: var(--color-primary);
}

.theme-schema-example .color-primary .show-as-background-color {
  background-color: var(--color-primary);
}

.theme-schema-example .color-on-primary .show-as-background-color {
  background-color: var(--color-on-primary);
}

.theme-schema-example .color-primary-container .show-as-background-color {
  background-color: var(--color-primary-container);
}

.theme-schema-example .color-on-primary-container .show-as-background-color {
  background-color: var(--color-on-primary-container);
}

.theme-schema-example .color-inverse-primary .show-as-background-color {
  background-color: var(--color-inverse-primary);
}

.theme-schema-example .secondary-title th {
  border-bottom-color: var(--color-secondary);
}

.theme-schema-example .color-secondary .show-as-background-color {
  background-color: var(--color-secondary);
}

.theme-schema-example .color-on-secondary .show-as-background-color {
  background-color: var(--color-on-secondary);
}

.theme-schema-example .color-secondary-container .show-as-background-color {
  background-color: var(--color-secondary-container);
}

.theme-schema-example .color-on-secondary-container .show-as-background-color {
  background-color: var(--color-on-secondary-container);
}

.theme-schema-example .tertiary-title th {
  border-bottom-color: var(--color-tertiary);
}

.theme-schema-example .color-tertiary .show-as-background-color {
  background-color: var(--color-tertiary);
}

.theme-schema-example .color-on-tertiary .show-as-background-color {
  background-color: var(--color-on-tertiary);
}

.theme-schema-example .color-tertiary-container .show-as-background-color {
  background-color: var(--color-tertiary-container);
}

.theme-schema-example .color-on-tertiary-container .show-as-background-color {
  background-color: var(--color-on-tertiary-container);
}

.theme-schema-example .complementary-title th {
  border-bottom-color: var(--color-complementary);
}

.theme-schema-example .color-complementary .show-as-background-color {
  background-color: var(--color-complementary);
}

.theme-schema-example .color-on-complementary .show-as-background-color {
  background-color: var(--color-on-complementary);
}

.theme-schema-example .color-complementary-container .show-as-background-color {
  background-color: var(--color-complementary-container);
}

.theme-schema-example .color-on-complementary-container .show-as-background-color {
  background-color: var(--color-on-complementary-container);
}

.theme-schema-example .success-title th {
  border-bottom-color: var(--color-success);
}

.theme-schema-example .color-success .show-as-background-color {
  background-color: var(--color-success);
}

.theme-schema-example .color-success-container .show-as-background-color {
  background-color: var(--color-success-container);
}

.theme-schema-example .color-on-success .show-as-background-color {
  background-color: var(--color-on-success);
}

.theme-schema-example .color-on-success-container .show-as-background-color {
  background-color: var(--color-on-success-container);
}

.theme-schema-example .warning-title th {
  border-bottom-color: var(--color-warning);
}

.theme-schema-example .color-warning .show-as-background-color {
  background-color: var(--color-warning);
}

.theme-schema-example .color-warning-container .show-as-background-color {
  background-color: var(--color-warning-container);
}

.theme-schema-example .color-on-warning .show-as-background-color {
  background-color: var(--color-on-warning);
}

.theme-schema-example .color-on-warning-container .show-as-background-color {
  background-color: var(--color-on-warning-container);
}

.theme-schema-example .error-title th {
  border-bottom-color: var(--color-error);
}

.theme-schema-example .color-error .show-as-background-color {
  background-color: var(--color-error);
}

.theme-schema-example .color-error-container .show-as-background-color {
  background-color: var(--color-error-container);
}

.theme-schema-example .color-on-error .show-as-background-color {
  background-color: var(--color-on-error);
}

.theme-schema-example .color-on-error-container .show-as-background-color {
  background-color: var(--color-on-error-container);
}

.theme-schema-example .surface-title th {
  border-bottom-color: var(--color-inverse-surface);
}

.theme-schema-example .color-surface-tint-color .show-as-background-color {
  background-color: var(--color-surface-tint-color);
}

.theme-schema-example .color-surface-dim .show-as-background-color {
  background-color: var(--color-surface-dim);
}

.theme-schema-example .color-surface .show-as-background-color {
  background-color: var(--color-surface);
}

.theme-schema-example .color-surface-bright .show-as-background-color {
  background-color: var(--color-surface-bright);
}

.theme-schema-example .color-surface-container-lowest .show-as-background-color {
  background-color: var(--color-surface-container-lowest);
}

.theme-schema-example .color-surface-container-low .show-as-background-color {
  background-color: var(--color-surface-container-low);
}

.theme-schema-example .color-surface-container .show-as-background-color {
  background-color: var(--color-surface-container);
}

.theme-schema-example .color-surface-container-high .show-as-background-color {
  background-color: var(--color-surface-container-high);
}

.theme-schema-example .color-surface-container-highest .show-as-background-color {
  background-color: var(--color-surface-container-highest);
}

.theme-schema-example .color-on-surface .show-as-background-color {
  background-color: var(--color-on-surface);
}

.theme-schema-example .color-on-surface-variant .show-as-background-color {
  background-color: var(--color-on-surface-variant);
}

.theme-schema-example .color-outline .show-as-background-color {
  background-color: var(--color-outline);
}

.theme-schema-example .color-outline-variant .show-as-background-color {
  background-color: var(--color-outline-variant);
}

.theme-schema-example .color-shadow .show-as-background-color {
  background-color: var(--color-shadow);
}

.theme-schema-example .color-scrim .show-as-background-color {
  background-color: var(--color-scrim);
}


.theme-schema-example .color-surface-variant .show-as-background-color {
  background-color: var(--color-surface-variant);
}

.theme-schema-example .color-inverse-surface .show-as-background-color {
  background-color: var(--color-inverse-surface);
}

.theme-schema-example .color-inverse-on-surface .show-as-background-color {
  background-color: var(--color-inverse-on-surface);
}

.theme-schema-example .color-background .show-as-background-color {
  background-color: var(--color-background);
}

.theme-schema-example .color-on-background .show-as-background-color {
  background-color: var(--color-on-background);
}