{{ define "head-addition" }}
  {{ with resources.Get "css/pages/palette.css" -}}
    {{ partial "head/css-link.html" . }}
  {{- end }}
  {{- $.Page.Store.Add "body-classes" "theme-palette" -}}
{{ end }}
{{ define "main" }}
  {{- with .Params.Title -}}
  <h1>{{ . }}</h1>
  {{- end -}}
  <article class="theme-palette-example">
    <table>
      <thead>
        <tr>
          <th class="palette-name">name</th>
          <th>main</th>
          <th>lightest</th>
          <th>lighter</th>
          <th>light</th>
          <th>medium-light</th>
          <th>medium</th>
          <th>medium-dark</th>
          <th>dark</th>
          <th>darker</th>
          <th>darkest</th>
        </tr>
      </thead>
      <tbody>
        <tr class="primary">
          <th class="color-name">primary</th>
          <td class="color-main"></td>
          <td class="color-lightest"></td>
          <td class="color-lighter"></td>
          <td class="color-light"></td>
          <td class="color-medium-light"></td>
          <td class="color-medium"></td>
          <td class="color-medium-dark"></td>
          <td class="color-dark"></td>
          <td class="color-darker"></td>
          <td class="color-darkest"></td>
        </tr>
        <tr class="secondary-left">
          <th class="color-name">secondary-left</th>
          <td class="color-main"></td>
          <td class="color-lightest"></td>
          <td class="color-lighter"></td>
          <td class="color-light"></td>
          <td class="color-medium-light"></td>
          <td class="color-medium"></td>
          <td class="color-medium-dark"></td>
          <td class="color-dark"></td>
          <td class="color-darker"></td>
          <td class="color-darkest"></td>
        </tr>
        <tr class="secondary-right">
          <th class="color-name">secondary-right</th>
          <td class="color-main"></td>
          <td class="color-lightest"></td>
          <td class="color-lighter"></td>
          <td class="color-light"></td>
          <td class="color-medium-light"></td>
          <td class="color-medium"></td>
          <td class="color-medium-dark"></td>
          <td class="color-dark"></td>
          <td class="color-darker"></td>
          <td class="color-darkest"></td>
        </tr>
        <tr class="complementary">
          <th class="color-name">complementary</th>
          <td class="color-main"></td>
          <td class="color-lightest"></td>
          <td class="color-lighter"></td>
          <td class="color-light"></td>
          <td class="color-medium-light"></td>
          <td class="color-medium"></td>
          <td class="color-medium-dark"></td>
          <td class="color-dark"></td>
          <td class="color-darker"></td>
          <td class="color-darkest"></td>
        </tr>
        <tr class="warning">
          <th class="color-name">warning</th>
          <td class="color-main"></td>
          <td class="color-lightest"></td>
          <td class="color-lighter"></td>
          <td class="color-light"></td>
          <td class="color-medium-light"></td>
          <td class="color-medium"></td>
          <td class="color-medium-dark"></td>
          <td class="color-dark"></td>
          <td class="color-darker"></td>
          <td class="color-darkest"></td>
        </tr>
        <tr class="success">
          <th class="color-name">success</th>
          <td class="color-main"></td>
          <td class="color-lightest"></td>
          <td class="color-lighter"></td>
          <td class="color-light"></td>
          <td class="color-medium-light"></td>
          <td class="color-medium"></td>
          <td class="color-medium-dark"></td>
          <td class="color-dark"></td>
          <td class="color-darker"></td>
          <td class="color-darkest"></td>
        </tr>
        <tr class="error">
          <th class="color-name">error</th>
          <td class="color-main"></td>
          <td class="color-lightest"></td>
          <td class="color-lighter"></td>
          <td class="color-light"></td>
          <td class="color-medium-light"></td>
          <td class="color-medium"></td>
          <td class="color-medium-dark"></td>
          <td class="color-dark"></td>
          <td class="color-darker"></td>
          <td class="color-darkest"></td>
        </tr>
        <tr class="neutral">
          <th class="color-name">neutral</th>
          <td class="color-main"></td>
          <td class="color-lightest"></td>
          <td class="color-lighter"></td>
          <td class="color-light"></td>
          <td class="color-medium-light"></td>
          <td class="color-medium"></td>
          <td class="color-medium-dark"></td>
          <td class="color-dark"></td>
          <td class="color-darker"></td>
          <td class="color-darkest"></td>
        </tr>
      </tbody>
    </table>
    <div class="use">
      The CSS colors variables are defined as <code>--palette-[row name]-[column name]</code>, for example <code>--palette-complementary-medium-dark</code>.
    </div>
  </article>
{{ end }}
