{{ define "main" }}
  <article class="theme-palette-example">
    <h2>Palette</h2>
    <table>
      <thead>
        <tr>
          <th>main</th>
          <th>lightest</th>
          <th>lighter</th>
          <th>light</th>
          <th>medium-light</th>
          <th>medium</th>
          <th>medium-dark</th>
          <th>dark</th>
          <th>darker</th>
          <th>darkest</th>
        </tr>
      </thead>
      <tbody>
        <tr class="primary">
          <td class="color-main">primary</td>
          <td class="color-lightest">lightest</td>
          <td class="color-lighter">lighter</td>
          <td class="color-light">light</td>
          <td class="color-medium-light">medium-light</td>
          <td class="color-medium">medium</td>
          <td class="color-medium-dark">medium-dark</td>
          <td class="color-dark">dark</td>
          <td class="color-darker">darker</td>
          <td class="color-darkest">darkest</td>
        </tr>
        <tr class="secondary-left">
          <td class="color-main">secondary-left</td>
          <td class="color-lightest">lightest</td>
          <td class="color-lighter">lighter</td>
          <td class="color-light">light</td>
          <td class="color-medium-light">medium-light</td>
          <td class="color-medium">medium</td>
          <td class="color-medium-dark">medium-dark</td>
          <td class="color-dark">dark</td>
          <td class="color-darker">darker</td>
          <td class="color-darkest">darkest</td>
        </tr>
        <tr class="secondary-right">
          <td class="color-main">secondary-right</td>
          <td class="color-lightest">lightest</td>
          <td class="color-lighter">lighter</td>
          <td class="color-light">light</td>
          <td class="color-medium-light">medium-light</td>
          <td class="color-medium">medium</td>
          <td class="color-medium-dark">medium-dark</td>
          <td class="color-dark">dark</td>
          <td class="color-darker">darker</td>
          <td class="color-darkest">darkest</td>
        </tr>
        <tr class="complementary">
          <td class="color-main">complementary</td>
          <td class="color-lightest">lightest</td>
          <td class="color-lighter">lighter</td>
          <td class="color-light">light</td>
          <td class="color-medium-light">medium-light</td>
          <td class="color-medium">medium</td>
          <td class="color-medium-dark">medium-dark</td>
          <td class="color-dark">dark</td>
          <td class="color-darker">darker</td>
          <td class="color-darkest">darkest</td>
        </tr>
        <tr class="warning">
          <td class="color-main">warning</td>
          <td class="color-lightest">lightest</td>
          <td class="color-lighter">lighter</td>
          <td class="color-light">light</td>
          <td class="color-medium-light">medium-light</td>
          <td class="color-medium">medium</td>
          <td class="color-medium-dark">medium-dark</td>
          <td class="color-dark">dark</td>
          <td class="color-darker">darker</td>
          <td class="color-darkest">darkest</td>
        </tr>
        <tr class="success">
          <td class="color-main">success</td>
          <td class="color-lightest">lightest</td>
          <td class="color-lighter">lighter</td>
          <td class="color-light">light</td>
          <td class="color-medium-light">medium-light</td>
          <td class="color-medium">medium</td>
          <td class="color-medium-dark">medium-dark</td>
          <td class="color-dark">dark</td>
          <td class="color-darker">darker</td>
          <td class="color-darkest">darkest</td>
        </tr>
        <tr class="error">
          <td class="color-main">error</td>
          <td class="color-lightest">lightest</td>
          <td class="color-lighter">lighter</td>
          <td class="color-light">light</td>
          <td class="color-medium-light">medium-light</td>
          <td class="color-medium">medium</td>
          <td class="color-medium-dark">medium-dark</td>
          <td class="color-dark">dark</td>
          <td class="color-darker">darker</td>
          <td class="color-darkest">darkest</td>
        </tr>
      </tbody>
    </table>
  </article>
{{ end }}
