.theme-schema-example {
  --table-title-color-width: .4em;
}

.theme-schema-example .primary-title th {
  box-shadow: inset 0 calc(-1 * var(--table-title-color-width)) var(--color-primary);
}

.theme-schema-example .color-primary .print-background-color {
  background-color: var(--color-primary);
}

.theme-schema-example .color-on-primary .print-background-color {
  background-color: var(--color-on-primary);
}

.theme-schema-example .color-primary-container .print-background-color {
  background-color: var(--color-primary-container);
}

.theme-schema-example .color-on-primary-container .print-background-color {
  background-color: var(--color-on-primary-container);
}

.theme-schema-example .color-inverse-primary .print-background-color {
  background-color: var(--color-inverse-primary);
}

.theme-schema-example .color-on-inverse-primary .print-background-color {
  background-color: var(--color-on-inverse-primary);
}

.theme-schema-example .secondary-title th {
  box-shadow: inset 0 calc(-1 * var(--table-title-color-width)) var(--color-secondary);
}

.theme-schema-example .color-secondary .print-background-color {
  background-color: var(--color-secondary);
}

.theme-schema-example .color-on-secondary .print-background-color {
  background-color: var(--color-on-secondary);
}

.theme-schema-example .color-secondary-container .print-background-color {
  background-color: var(--color-secondary-container);
}

.theme-schema-example .color-on-secondary-container .print-background-color {
  background-color: var(--color-on-secondary-container);
}

.theme-schema-example .color-inverse-secondary .print-background-color {
  background-color: var(--color-inverse-secondary);
}

.theme-schema-example .color-on-inverse-secondary .print-background-color {
  background-color: var(--color-on-inverse-secondary);
}

.theme-schema-example .tertiary-title th {
  box-shadow: inset 0 calc(-1 * var(--table-title-color-width)) var(--color-tertiary);
}

.theme-schema-example .color-tertiary .print-background-color {
  background-color: var(--color-tertiary);
}

.theme-schema-example .color-on-tertiary .print-background-color {
  background-color: var(--color-on-tertiary);
}

.theme-schema-example .color-tertiary-container .print-background-color {
  background-color: var(--color-tertiary-container);
}

.theme-schema-example .color-on-tertiary-container .print-background-color {
  background-color: var(--color-on-tertiary-container);
}

.theme-schema-example .color-inverse-tertiary .print-background-color {
  background-color: var(--color-inverse-tertiary);
}

.theme-schema-example .color-on-inverse-tertiary .print-background-color {
  background-color: var(--color-on-inverse-tertiary);
}

.theme-schema-example .success-title th {
  box-shadow: inset 0 calc(-1 * var(--table-title-color-width)) var(--color-success);
}

.theme-schema-example .color-success .print-background-color {
  background-color: var(--color-success);
}

.theme-schema-example .color-success-container .print-background-color {
  background-color: var(--color-success-container);
}

.theme-schema-example .color-on-success .print-background-color {
  background-color: var(--color-on-success);
}

.theme-schema-example .color-on-success-container .print-background-color {
  background-color: var(--color-on-success-container);
}

.theme-schema-example .color-inverse-success .print-background-color {
  background-color: var(--color-inverse-success);
}

.theme-schema-example .color-on-inverse-success .print-background-color {
  background-color: var(--color-on-inverse-success);
}

.theme-schema-example .warning-title th {
  box-shadow: inset 0 calc(-1 * var(--table-title-color-width)) var(--color-warning);
}

.theme-schema-example .color-warning .print-background-color {
  background-color: var(--color-warning);
}

.theme-schema-example .color-warning-container .print-background-color {
  background-color: var(--color-warning-container);
}

.theme-schema-example .color-on-warning .print-background-color {
  background-color: var(--color-on-warning);
}

.theme-schema-example .color-on-warning-container .print-background-color {
  background-color: var(--color-on-warning-container);
}

.theme-schema-example .color-inverse-warning .print-background-color {
  background-color: var(--color-inverse-warning);
}

.theme-schema-example .color-on-inverse-warning .print-background-color {
  background-color: var(--color-on-inverse-warning);
}

.theme-schema-example .error-title th {
  box-shadow: inset 0 calc(-1 * var(--table-title-color-width)) var(--color-error);
}

.theme-schema-example .color-error .print-background-color {
  background-color: var(--color-error);
}

.theme-schema-example .color-error-container .print-background-color {
  background-color: var(--color-error-container);
}

.theme-schema-example .color-on-error .print-background-color {
  background-color: var(--color-on-error);
}

.theme-schema-example .color-on-error-container .print-background-color {
  background-color: var(--color-on-error-container);
}

.theme-schema-example .color-inverse-error .print-background-color {
  background-color: var(--color-inverse-error);
}

.theme-schema-example .color-on-inverse-error .print-background-color {
  background-color: var(--color-on-inverse-error);
}

.theme-schema-example .surface-title th {
  box-shadow: inset 0 calc(-1 * var(--table-title-color-width)) var(--color-surface);
}

.theme-schema-example .color-primary-tint .print-background-color {
  background-color: var(--color-primary-tint);
}

.theme-schema-example .color-surface-dim .print-background-color {
  background-color: var(--color-surface-dim);
}

.theme-schema-example .color-surface .print-background-color {
  background-color: var(--color-surface);
}

.theme-schema-example .color-surface-bright .print-background-color {
  background-color: var(--color-surface-bright);
}

.theme-schema-example .color-surface-container-lowest .print-background-color {
  background-color: var(--color-surface-container-lowest);
}

.theme-schema-example .color-surface-container-low .print-background-color {
  background-color: var(--color-surface-container-low);
}

.theme-schema-example .color-surface-container .print-background-color {
  background-color: var(--color-surface-container);
}

.theme-schema-example .color-surface-container-high .print-background-color {
  background-color: var(--color-surface-container-high);
}

.theme-schema-example .color-surface-container-highest .print-background-color {
  background-color: var(--color-surface-container-highest);
}

.theme-schema-example .color-on-surface .print-background-color {
  background-color: var(--color-on-surface);
}

.theme-schema-example .color-on-surface-variant .print-background-color {
  background-color: var(--color-on-surface-variant);
}

.theme-schema-example .extra-title th {
  box-shadow: inset 0 calc(-1 * var(--table-title-color-width)) var(--color-background);
}

.theme-schema-example .color-outline .print-background-color {
  background-color: var(--color-outline);
}

.theme-schema-example .color-outline-variant .print-background-color {
  background-color: var(--color-outline-variant);
}

.theme-schema-example .color-light .print-background-color {
  background-color: var(--color-light);
}

.theme-schema-example .color-shadow .print-background-color {
  background-color: var(--color-shadow);
}

.theme-schema-example .color-scrim .print-background-color {
  background-color: var(--color-scrim);
}

.theme-schema-example .color-surface-variant .print-background-color {
  background-color: var(--color-surface-variant);
}

.theme-schema-example .color-inverse-surface .print-background-color {
  background-color: var(--color-inverse-surface);
}

.theme-schema-example .color-on-inverse-surface .print-background-color {
  background-color: var(--color-on-inverse-surface);
}

.theme-schema-example .color-background .print-background-color {
  background-color: var(--color-background);
}

.theme-schema-example .color-on-background .print-background-color {
  background-color: var(--color-on-background);
}

.theme-schema-example td {
  white-space: nowrap;
}

.theme-schema-example tr.title th {
  border-top: .1rem solid var(--color-outline);
  border-bottom: .1rem solid var(--color-outline);
  text-align: center;
  color: var(--color-on-surface);
  background-color: var(--color-surface-dim);
}

:root:has(.theme-colors-override) {
  --color-primary-hue: 180deg;
  --colors-secondary-hue-angle: 200deg;
}
