.theme-palette-example table {
  width: 100%;
}

.theme-palette-example th {
  color: var(--color-on-surface-variant);
  background-color: var(--color-surface-container);
  font-weight: normal;
}

.theme-palette-example td,
.theme-palette-example th {
  min-width: fit-content;
  max-width: fit-content;
}

.theme-palette-example .use {
  margin-top: 2em;
}

.theme-palette-example code {
  background-color: var(--color-surface-bright);
}

.theme-palette-example thead th {
  text-align: center;
}

.theme-palette-example th.title {
  color: var(--color-inverse-surface);
  font-weight: bold;
}

.theme-palette-example th.name {
  font-weight: normal;
}

/* primary */
.theme-palette-example .primary .color-main {
  background-color: var(--palette-primary-main);
}

.theme-palette-example .primary .color-lightest {
  background-color: var(--palette-primary-lightest);
}

.theme-palette-example .primary .color-lighter {
  background-color: var(--palette-primary-lighter);
}

.theme-palette-example .primary .color-light {
  background-color: var(--palette-primary-light);
}

.theme-palette-example .primary .color-medium-light {
  background-color: var(--palette-primary-medium-light);
}

.theme-palette-example .primary .color-medium {
  background-color: var(--palette-primary-medium);
}

.theme-palette-example .primary .color-medium-dark {
  background-color: var(--palette-primary-medium-dark);
}

.theme-palette-example .primary .color-dark {
  background-color: var(--palette-primary-dark);
}

.theme-palette-example .primary .color-darker {
  background-color: var(--palette-primary-darker);
}

.theme-palette-example .primary .color-darkest {
  background-color: var(--palette-primary-darkest);
}

/* secondary-left */
.theme-palette-example .secondary-left .color-main {
  background-color: var(--palette-secondary-left-main);
}

.theme-palette-example .secondary-left .color-lightest {
  background-color: var(--palette-secondary-left-lightest);
}

.theme-palette-example .secondary-left .color-lighter {
  background-color: var(--palette-secondary-left-lighter);
}

.theme-palette-example .secondary-left .color-light {
  background-color: var(--palette-secondary-left-light);
}

.theme-palette-example .secondary-left .color-medium-light {
  background-color: var(--palette-secondary-left-medium-light);
}

.theme-palette-example .secondary-left .color-medium {
  background-color: var(--palette-secondary-left-medium);
}

.theme-palette-example .secondary-left .color-medium-dark {
  background-color: var(--palette-secondary-left-medium-dark);
}

.theme-palette-example .secondary-left .color-dark {
  background-color: var(--palette-secondary-left-dark);
}

.theme-palette-example .secondary-left .color-darker {
  background-color: var(--palette-secondary-left-darker);
}

.theme-palette-example .secondary-left .color-darkest {
  background-color: var(--palette-secondary-left-darkest);
}

/* secondary-right */
.theme-palette-example .secondary-right .color-main {
  background-color: var(--palette-secondary-right-main);
}

.theme-palette-example .secondary-right .color-lightest {
  background-color: var(--palette-secondary-right-lightest);
}

.theme-palette-example .secondary-right .color-lighter {
  background-color: var(--palette-secondary-right-lighter);
}

.theme-palette-example .secondary-right .color-light {
  background-color: var(--palette-secondary-right-light);
}

.theme-palette-example .secondary-right .color-medium-light {
  background-color: var(--palette-secondary-right-medium-light);
}

.theme-palette-example .secondary-right .color-medium {
  background-color: var(--palette-secondary-right-medium);
}

.theme-palette-example .secondary-right .color-medium-dark {
  background-color: var(--palette-secondary-right-medium-dark);
}

.theme-palette-example .secondary-right .color-dark {
  background-color: var(--palette-secondary-right-dark);
}

.theme-palette-example .secondary-right .color-darker {
  background-color: var(--palette-secondary-right-darker);
}

.theme-palette-example .secondary-right .color-darkest {
  background-color: var(--palette-secondary-right-darkest);
}

/* warning */
.theme-palette-example .warning .color-main {
  background-color: var(--palette-warning-main);
}

.theme-palette-example .warning .color-lightest {
  background-color: var(--palette-warning-lightest);
}

.theme-palette-example .warning .color-lighter {
  background-color: var(--palette-warning-lighter);
}

.theme-palette-example .warning .color-light {
  background-color: var(--palette-warning-light);
}

.theme-palette-example .warning .color-medium-light {
  background-color: var(--palette-warning-medium-light);
}

.theme-palette-example .warning .color-medium {
  background-color: var(--palette-warning-medium);
}

.theme-palette-example .warning .color-medium-dark {
  background-color: var(--palette-warning-medium-dark);
}

.theme-palette-example .warning .color-dark {
  background-color: var(--palette-warning-dark);
}

.theme-palette-example .warning .color-darker {
  background-color: var(--palette-warning-darker);
}

.theme-palette-example .warning .color-darkest {
  background-color: var(--palette-warning-darkest);
}

/* success */
.theme-palette-example .success .color-main {
  background-color: var(--palette-success-main);
}

.theme-palette-example .success .color-lightest {
  background-color: var(--palette-success-lightest);
}

.theme-palette-example .success .color-lighter {
  background-color: var(--palette-success-lighter);
}

.theme-palette-example .success .color-light {
  background-color: var(--palette-success-light);
}

.theme-palette-example .success .color-medium-light {
  background-color: var(--palette-success-medium-light);
}

.theme-palette-example .success .color-medium {
  background-color: var(--palette-success-medium);
}

.theme-palette-example .success .color-medium-dark {
  background-color: var(--palette-success-medium-dark);
}

.theme-palette-example .success .color-dark {
  background-color: var(--palette-success-dark);
}

.theme-palette-example .success .color-darker {
  background-color: var(--palette-success-darker);
}

.theme-palette-example .success .color-darkest {
  background-color: var(--palette-success-darkest);
}

/* error */
.theme-palette-example .error .color-main {
  background-color: var(--palette-error-main);
}

.theme-palette-example .error .color-lightest {
  background-color: var(--palette-error-lightest);
}

.theme-palette-example .error .color-lighter {
  background-color: var(--palette-error-lighter);
}

.theme-palette-example .error .color-light {
  background-color: var(--palette-error-light);
}

.theme-palette-example .error .color-medium-light {
  background-color: var(--palette-error-medium-light);
}

.theme-palette-example .error .color-medium {
  background-color: var(--palette-error-medium);
}

.theme-palette-example .error .color-medium-dark {
  background-color: var(--palette-error-medium-dark);
}

.theme-palette-example .error .color-dark {
  background-color: var(--palette-error-dark);
}

.theme-palette-example .error .color-darker {
  background-color: var(--palette-error-darker);
}

.theme-palette-example .error .color-darkest {
  background-color: var(--palette-error-darkest);
}

/* neutral */
.theme-palette-example .neutral .color-main {
  background-color: var(--palette-neutral-main);
}

.theme-palette-example .neutral .color-lightest {
  background-color: var(--palette-neutral-lightest);
}

.theme-palette-example .neutral .color-lighter {
  background-color: var(--palette-neutral-lighter);
}

.theme-palette-example .neutral .color-light {
  background-color: var(--palette-neutral-light);
}

.theme-palette-example .neutral .color-medium-light {
  background-color: var(--palette-neutral-medium-light);
}

.theme-palette-example .neutral .color-medium {
  background-color: var(--palette-neutral-medium);
}

.theme-palette-example .neutral .color-medium-dark {
  background-color: var(--palette-neutral-medium-dark);
}

.theme-palette-example .neutral .color-dark {
  background-color: var(--palette-neutral-dark);
}

.theme-palette-example .neutral .color-darker {
  background-color: var(--palette-neutral-darker);
}

.theme-palette-example .neutral .color-darkest {
  background-color: var(--palette-neutral-darkest);
}

.theme-palette-example.neutral-palette tbody th {
  text-align: center;
}

.theme-palette-example.neutral-palette .neutral0 {
  background-color: var(--palette-neutral0);
}

.theme-palette-example.neutral-palette .neutral5 {
  background-color: var(--palette-neutral5);
}

.theme-palette-example.neutral-palette .neutral10 {
  background-color: var(--palette-neutral10);
}

.theme-palette-example.neutral-palette .neutral13 {
  background-color: var(--palette-neutral13);
}

.theme-palette-example.neutral-palette .neutral16 {
  background-color: var(--palette-neutral16);
}

.theme-palette-example.neutral-palette .neutral19 {
  background-color: var(--palette-neutral19);
}

.theme-palette-example.neutral-palette .neutral21 {
  background-color: var(--palette-neutral21);
}

.theme-palette-example.neutral-palette .neutral24 {
  background-color: var(--palette-neutral24);
}

.theme-palette-example.neutral-palette .neutral28 {
  background-color: var(--palette-neutral28);
}

.theme-palette-example.neutral-palette .neutral32 {
  background-color: var(--palette-neutral32);
}

.theme-palette-example.neutral-palette .neutral36 {
  background-color: var(--palette-neutral36);
}

.theme-palette-example.neutral-palette .neutral40 {
  background-color: var(--palette-neutral40);
}

.theme-palette-example.neutral-palette .neutral45 {
  background-color: var(--palette-neutral45);
}

.theme-palette-example.neutral-palette .neutral50 {
  background-color: var(--palette-neutral50);
}

.theme-palette-example.neutral-palette .neutral55 {
  background-color: var(--palette-neutral55);
}

.theme-palette-example.neutral-palette .neutral60 {
  background-color: var(--palette-neutral60);
}

.theme-palette-example.neutral-palette .neutral65 {
  background-color: var(--palette-neutral65);
}

.theme-palette-example.neutral-palette .neutral70 {
  background-color: var(--palette-neutral70);
}

.theme-palette-example.neutral-palette .neutral74 {
  background-color: var(--palette-neutral74);
}

.theme-palette-example.neutral-palette .neutral78 {
  background-color: var(--palette-neutral78);
}

.theme-palette-example.neutral-palette .neutral82 {
  background-color: var(--palette-neutral82);
}

.theme-palette-example.neutral-palette .neutral86 {
  background-color: var(--palette-neutral86);
}

.theme-palette-example.neutral-palette .neutral90 {
  background-color: var(--palette-neutral90);
}

.theme-palette-example.neutral-palette .neutral94 {
  background-color: var(--palette-neutral94);
}

.theme-palette-example.neutral-palette .neutral97 {
  background-color: var(--palette-neutral97);
}

.theme-palette-example.neutral-palette .neutral100 {
  background-color: var(--palette-neutral100);
}
