{{- $attributes := .Params | default dict -}}
{{- $u := urls.Parse (.Get "src") -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- with (or (.Page.Resources.Get $u.Path) (resources.Get $u.Path)) | fingerprint -}}
    {{- $src = .RelPermalink -}}
  {{- else }}
    {{- warnf "The %q shortcode was unable to find %s: see %s" $.Name $u.Path $.Position }}
  {{- end }}
{{- end -}}
{{- $attributes = merge $attributes (dict "src" $src) }}

<img {{ template "render-attributes" (dict "attributes" $attributes) }}/>
